.logo {
  display: flex;
  margin: 0;
  text-decoration: none;
}

.img {
  width: 45px;
  height: 45px;
  display: inline-block;
}
.logo-name {
  text-transform: uppercase;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-left: 5px;
  font-size: 32px;
  line-height: 45px;
}
.logo:hover {
  text-decoration: none !important;
}
