.carusel-container {
  background-color: white;
  border-radius: 20px;
  margin: 2% 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.carusel2 {
  width: 80%;
  margin: 20px;
}

@media (max-width: 768px) {
  .carusel-container {
    margin: 1%;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .carusel-container:first-child {
    order: 2;
    margin-right: 10px;
  }
  .carusel2 {
    order: -1;
    flex: 1 0 100%;
    padding: 2%;
    margin: auto;
  }
  .carusel-container :last-child {
    order: 3;
  }
  .alice-carousel {
    width: 80%;
  }
}
