.sectionA1 {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 0.5),
      rgba(28, 30, 32, 0.5)
    ),
    url("../../../assets/images/MaskGroup9.jpg");
}
.sectionA1 div h1 {
  padding: 25% 1%;
  font-size: 4rem;
}
@media (max-width: 992.98px) {
  .sectionA1 div h1 {
    padding: 27% 1%;
    font-size: 1.9rem;
  }
}

.sectionA5 {
  background-image: url("../../../assets/images/about/Mask\ Group\ 7.jpg");
}

.sectionA7 {
  background-image: linear-gradient(
      0deg,
      rgba(37, 155, 249, 90%),
      rgba(37, 155, 249, 81%)
    ),
    url("../../../assets/images/about/MaskGroup10.jpg");
}
.sectionA5,
.sectionA7 {
  padding: 4% 0%;
}
@media (max-width: 992px) {
  .sectionA5 h1,
  .sectionA7 h1 {
    font-size: 1.6rem;
  }
}
