.sectionA6 {
  margin-top: 1%;
}
.our-history {
  margin: 3% 0;
}
.our-history h3 {
  margin: 2rem 0;
  width: 70%;
}
.our-history button {
  margin-bottom: 5%;
  margin-top: 1%;
}
.our-history p {
  width: 65%;
  margin: 5% 0;
}
.our-history a {
  margin: 4% 0;
}
.timeline-p {
  width: 75%;
}

@media (max-width: 992px) {
  .our-history {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .our-history button {
    margin-bottom: 1rem;
  }
  .our-history a {
    margin: 1% 0 6% 0;
  }
  .our-history h3 {
    margin: 1rem 0;
    width: auto;
  }
  .our-history p {
    width: auto;
  }
}
@media (max-width: 600px) {
  .timeline-p {
    width: 100%;
  }
}
