.quote-col {
  color: #2196f3;
  padding: 3%;
  font-size: 1.3rem;
}
.profile-text {
  margin-left: 10%;
}
.about-consult {
  display: flex;
  align-items: flex-start;
}
.profile_member {
  background-image: url("../../../assets/images/about/MaskGroup11.jpg");
  display: inline-flex;
  width: 65px;
  height: 65px;
}
.img_consult {
  background-image: url("../../../assets/images/about/christina-wocintechchat-com-PviMD8jDeYE-unsplash.jpg");
  max-width: 100%;
  width: 100%;
  height: 100%;
}

@media (max-width: 992.98px) {
  .img_consult {
    height: 50vmin;
  }
}
