.profileCard {
  margin: 0;
  text-align: center;
}
.profileCard img {
  width: 60%;
  height: auto;
}
.profileCard-h4 {
  color: #575c60;
  margin: 0;
}
.profileCard-p {
  color: #564040;
  text-align: center;
}
