// ======================================================
// Abstracts :: Mixins
// ======================================================

// Responsive
// We use Bootstrap's mixin breakpoint
// https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
//
// @include media-breakpoint-down(sm) {
//   code here
// }

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
$breakpoints: (
  smallphone-and-up: '(max-width: 320px)',
  smallphone-and-down: '(max-width: 480px)',
  middlephone-and-down: '(max-width: 600px)',
  phone-and-down: '(max-width: 767px)',
  tablet-and-down: '(max-width: 991px)',
  large-tablet-and-down: '(max-width: 1023px)',
  small-desktop-and-down: '(max-width: 1199px)',
  desktop-and-down: '(max-width: 1365px)',
  large-desktop-and-down: '(max-width: 1650px)',
  tablet-and-up: '(min-width: 768px)',
  desktop-and-up: '(min-width: 992px)',
  small-desktop-and-up: '(min-width: 1200px)',
  phone-and-tablet: '(min-width: 768px) and (max-width: 991px)',
  smallphone-and-phone: '(min-width: 480px) and (max-width: 767px)',
  large-tablet-and-up: '(min-width: 1024px) and (max-width: 1199px)',
  small-desktop-and-desktop: '(min-width: 1200px) and (max-width: 1365px)',
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media screen and #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
      + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%box-style {
  border: 1px solid #f1f1f1;
  background: #fff;
}

%dot-gray {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 50%;
}

// Truncate multiline
@mixin truncate-multiline($line-count) {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
}
