.sectionS2 > :nth-child(1),
.sectionS2 > :nth-child(3) {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  align-items: center;
}
.sectionS2 > div > div {
  width: 50%;
}
.sectionS2 > div {
  margin: 3rem 0;
}
.sectionS2 p {
  font-family: Arial, sans-serif;
  margin: 5% 0;
  font-size: 16px;
  width: 90%;
}
.sectionS2 a {
  margin: 10px 15px 10px 0;
}
.sectionS2 span {
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #259bf9;
}

.img_market1 {
  background-image: url("../../../assets/images/Loesungen_Marktforschung.jpg");
}
.img_market2 {
  background-image: url("../../../assets/images/Marktanalysen&Prognosen.jpg");
}
.img_market3 {
  background-image: url("../../../assets/images/askStatista.jpg");
}

.img_market {
  height: 250px;
}
.sectionS2 > :nth-child(2) {
  display: flex;
  justify-content: flex-start !important;
  flex-flow: row-reverse;
  align-items: center;
}
.sectionS2 > :nth-child(2) > img {
  margin-right: 3%;
}

@media (max-width: 768px) {
  .sectionS2 > :nth-child(1),
  .sectionS2 > :nth-child(3) {
    flex-flow: column;
  }
  .sectionS2 > div > div {
    width: 100%;
    margin: 1rem 0;
  }
  .sectionS2 > :nth-child(2) {
    flex-flow: column;
    padding: 1rem 0;
    border-top: 1px solid black;
  }
  .sectionS2 > :nth-child(3) {
    border-top: 1px solid black;
  }
  .img_market {
    height: 200px;
  }
  .sectionS2 p {
    width: auto;
  }
  .sectionS2 a {
    margin: 5px 10px 5px 0;
  }
}
