.sectionS1 {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 94%),
      rgba(28, 30, 32, 94%)
    ),
    url("../../../assets/images/MaskGroup16.jpg");
}
.sectionS1 div div {
  padding: 22% 1%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.sectionS1 div div h4 {
  width: 65%;
}
.sectionS1 div div h1 {
  font-size: 2.9rem;
}

@media (max-width: 992.98px) {
  .sectionS1 div div {
    padding: 25% 1%;
  }
  .sectionS1 div div h1 {
    font-size: 2.2rem;
  }
  .sectionS1 div div h4 {
    width: 90%;
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .sectionS1 div div {
    padding: 28% 1%;
  }
  .sectionS1 div div h1 {
    font-size: 1.8rem;
  }
  .sectionS1 div div h4 {
    font-size: 1rem;
  }
}
