// ======================================================
// Pages :: Advance job search
// ======================================================

.advance-job-search {
  background: #fafafa;
  padding-bottom: 100px;

  @include respond-to(tablet-and-down) {
    padding-bottom: 50px;
  }

  @include respond-to(phone-and-down) {
    padding-bottom: 30px;
  }

  &__title {
    font-size: 27px;
    line-height: 1.04;
    color: #252525;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 42px;
  }

  .job-search-form {
    flex: 1 0 auto;
    border: 1px solid #ededed;
    padding: 23px 21px;
    margin-right: 10px;
    background: #fff;

    @include respond-to(tablet-and-down) {
      margin-right: 0;
      width: 100%;
    }

    &__form {
      border: 1px solid #ededed;
      background: #fafafa;
      padding: 16px;
    }

    &__columns {
      &-item {
        width: calc((100% - 20px) / 2);
        margin-bottom: 25px;

        @include respond-to(smallphone-and-down) {
          margin-bottom: 10px;
          width: 100%;
        }

        &--no-title {
          margin-top: 28px;

          @include respond-to(smallphone-and-down) {
            margin-top: 0;
          }
        }

        &--checkbox {
          margin-bottom: 0;
        }
      }
    }

    &__less-options {
      display: flex;
      justify-content: flex-end;

      a {
        font-size: 12px;
        line-height: 1.75;
        color: #a4a4a4;
        text-decoration: underline;
      }
    }
  }

  .search-tips {
    flex-basis: 303px;

    @include respond-to(tablet-and-down) {
      margin-top: 20px;
      width: 100%;
      flex-basis: auto;
    }

    &__title {
      font-size: 18px;
      line-height: 1.56;
      color: #252525;
      margin-bottom: 16px;
    }

    &__item {
      display: flex;
      flex-wrap: wrap;
      padding: 25px 15px 25px 35px;
      border: 1px solid #ededed;
      box-shadow: 0 2px 15px -9px rgba(0, 0, 0, 0.14);
      background-color: #fff;

      &:not(:last-child) {
        border-bottom: none;
      }

      &-icon {
        width: 25px;
        margin-right: 25px;
        padding-top: 5px;

        i {
          color: #84ce3f;
          font-size: 20px;
        }
      }

      &-content {
        flex: 1;
      }

      &-title {
        font-size: 15px;
        line-height: 1.6;
        color: #252525;
        margin-bottom: 4px;
      }

      &-desc {
        font-size: 12px;
        line-height: 2;
        color: #a4a4a4;
      }
    }
  }
}
