// ======================================================
// Pages :: Blog Posts
// ======================================================

.blog-posts {
  .blogs-list {
    background: #fafafa;
    padding-top: 90px;

    @include respond-to(phone-and-down) {
      padding-top: 50px;
    }

    @include respond-to(smallphone-and-down) {
      padding-top: 30px;
    }
  }
}
