// ======================================================
// Pages :: Categories pages
// ======================================================

.categories-page {
  background: #fafafa;

  &--result-search {
    .categories-page {
      &__title {
        padding: 0 0 25px 0;
      }
    }
  }

  &__sidebar-show {
    display: none;
    cursor: pointer;
    font-size: 30px;

    @include respond-to(tablet-and-down) {
      display: block;
      margin-bottom: 15px;
      transition: all 0.2s ease-in-out;
    }
  }

  &__title {
    padding: 50px 0;

    @include respond-to(smallphone-and-down) {
      padding: 20px 0;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    padding-bottom: 80px;
    position: relative;

    @include respond-to(phone-and-down) {
      padding-bottom: 30px;
    }
  }

  &__sidebar {
    min-width: 273px;
    flex-basis: 273px;
    max-width: 273px;
    margin-right: 10px;
    z-index: 2;

    @include respond-to(tablet-and-down) {
      transform: translateX(-300px);
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 30px;

      &.show {
        transform: translateX(0);
      }
    }

    .filter-block {
      padding: 18px 20px;
      border: 1px solid $gray-08;
      background: $white;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: none;
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $font-size-base + 1;
        line-height: 1.87;
        color: #3a3a3a;

        &-icon {
          font-size: $font-size-large;
          line-height: 1.56;
          font-weight: $font-weight-light;
          color: #ddd;
        }
      }

      &__list {
        margin-top: 23px;
        display: none;

        &.show {
          display: block;
        }

        &-title {
          font-size: 14px;
          line-height: 2.14;
          color: #3b3b3b;
        }

        &-data {
          font-size: 14px;
          line-height: 2.14;
          color: #a8a8a8;
          padding-left: 15px;
        }

        &-price-range {
          .input-group {
            .input-icon {
              left: 10px;
              font-weight: 300;
              color: #3b3b3b;
            }

            .form-control {
              padding-left: 25px;
              height: 38px;
            }
          }
        }

        &-range-title {
          font-size: 14px;
          line-height: 2.14;
          color: #b6b6b6;
        }

        .checkbox-default {
          height: 26px;
        }

        &-show-more {
          padding-left: 26px;
          padding-top: 15px;

          a {
            color: #ff7831;
          }
        }
      }

      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 2.14;

        > span {
          font-size: $font-size-base;
          color: #c3c3c3;
        }

        .checkbox-default {
          label {
            &::before {
              top: 8px;
            }

            &::after {
              top: 9px;
            }
          }
        }
      }
    }
  }

  &__showcase {
    flex: 1;
  }

  .categories-showcase {
    &__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
    }

    &__item {
      position: relative;
      margin-bottom: 10px;

      &-inner {
        padding: 0 5px;
      }

      img {
        width: 100%;
      }

      &-title {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
      }

      &--col3 {
        width: calc(100% / 3);
      }

      &--col2 {
        width: calc(100% / 2);
      }

      @include respond-to(phone-and-down) {
        width: calc(100% / 2);
      }

      @include respond-to(smallphone-and-down) {
        width: 100%;
      }
    }
  }

  .filters-search-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    margin-bottom: 20px;

    @include respond-to(smallphone-and-down) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__sort {
      display: flex;
      align-items: center;

      @include respond-to(smallphone-and-down) {
        margin-top: 15px;
      }

      &-title {
        font-size: 15px;
        font-weight: 500;
        color: #9e9e9e;
        padding-right: 5px;
      }
    }
  }

  .categories-filter {
    position: relative;

    &__select {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-right: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: 1px;
        right: 0;
        transform: rotate(-45deg);
        padding: 4.5px;
        box-shadow: 2px -2px 0 0 #000 inset;
        z-index: 2;
      }

      &-title {
        border: none;
        appearance: none;
        color: #2a2a2a;
        font-size: 15px;
        font-weight: 500;
      }
    }

    &__list {
      position: absolute;
      top: 30px;
      width: 100%;
      min-width: 150px;
      background: #fff;
      z-index: 3;
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.15);
    }

    &__item {
      color: #2a2a2a;
      padding: 10px 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid #f0f0f0;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.virtual-asssistant-showcase {
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -3px;
    margin-left: -3px;
  }

  .showcase-item {
    width: calc(100% / 4);
    margin-bottom: 6px;

    @include respond-to(large-tablet-and-down) {
      width: calc(100% / 3);
    }

    @include respond-to(phone-and-down) {
      width: calc(100% / 2);
    }

    @include respond-to(smallphone-and-down) {
      width: 100%;
    }

    &__inner {
      padding: 0 3px;
    }

    &__image {
      max-height: 159px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__content {
      padding: 15px;
      border: 1px solid #f0f0f0;
      background: #fff;
    }

    &__user {
      display: flex;
      align-items: center;

      &-avatar {
        width: 26px;
        height: 26px;
        margin-right: 12px;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      &-name {
        font-size: 14px;
        font-weight: 500;
        color: #3b3b3b;
      }

      &-title {
        font-size: 9px;
        color: #bdbdbd;
      }
    }

    &__desc {
      font-size: 13px;
      line-height: 1.62;
      color: #a8a8a8;
      padding-top: 15px;
      padding-bottom: 4px;
    }

    &__review {
      .icofont-star {
        color: #faab1a;
        padding-right: 8px;
      }

      &-point {
        font-size: 13px;
        line-height: 1.62;
        color: #353535;
      }

      &-number {
        padding-left: 5px;
        color: #a8a8a8;
      }
    }

    &__bottom {
      padding: 15px;
      background: #fff;
      border: 1px solid #f0f0f0;
      border-top: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icofont-heart-alt {
        color: #d8d8d8;
      }

      &-title {
        font-size: 12px;
        line-height: 1.75;
        color: #363636;
      }

      &-price {
        padding-left: 5px;
        color: #a8a8a8;
      }
    }
  }
}
