// ======================================================
// Pages :: Create New Contract
// ======================================================
.create-new-contract {
  background: #fafafa;
  padding-top: 10px;

  .form-submit {
    margin-top: 10px;
    margin-bottom: 100px;
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 35px 50px;

    @include respond-to(phone-and-down) {
      padding: 20px;
      margin-bottom: 50px;
    }

    &__item {
      &-title {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.62;
        color: #333;
        margin-bottom: 15px;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__col {
      width: calc((100% - 35px) / 2);

      @include respond-to(phone-and-down) {
        width: 100%;
      }

      .form-group {
        margin-bottom: 10px;
      }
    }

    &__col-100 {
      width: 100px;
      margin-right: 7px;
    }

    &__col-full {
      flex: 1;
    }

    &__add-milestone {
      font-size: 13px;
      line-height: 1.62;
      color: #7f7f7f;
      text-decoration: underline;
      margin: 20px 0;
      display: block;
    }

    &__button {
      width: 185px;
    }
  }
}
