// ======================================================
// Pages :: Features Pro Freelancer
// ======================================================

.features-pro-freelancer {
  padding-top: 100px;

  @include respond-to(small-desktop-and-down) {
    padding-top: 70px;
  }

  @include respond-to(phone-and-down) {
    padding-top: 40px;
  }

  .why-choose {
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 80px 0;

      @include respond-to(phone-and-down) {
        padding: 40px 0;
      }
    }

    &__item {
      width: calc(100% / 3);
      text-align: center;
      padding: 0 35px;

      @include respond-to(phone-and-down) {
        width: 100%;
      }
    }

    &__icon {
      height: 55px;
      display: block;
    }

    &__title {
      font-size: $font-size-medium;
      padding: 25px 0;
      line-height: 1.6;
      color: $black-01;
    }

    &__desc {
      font-size: $font-size-small;
      line-height: 1.5;
      color: $gray-05;
    }
  }

  .categories {
    padding-top: 75px;
    padding-bottom: 90px;
    background: url('#{$path-to-images}/pro-talent-work.jpg') no-repeat center;
    background-size: cover;

    @include respond-to(phone-and-down) {
      padding: 40px 0;
    }

    &__list {
      margin-top: 100px;

      @include respond-to(tablet-and-down) {
        margin-top: 70px;
      }

      @include respond-to(phone-and-down) {
        margin-top: 40px;
      }
    }

    &__item {
      width: calc(100% / 4);
      text-align: center;
      padding: 35px 20px;
      background: #fff;
      box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.05);

      @include respond-to(tablet-and-down) {
        width: calc(100% / 2);
      }

      @include respond-to(smallphone-and-down) {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 2px 9px 3px rgba($black, 0.05);
        transform: scale(1.02, 1.02);
        background: $white;
        transition: all 0.4s ease-in-out;
      }
    }

    &__icon {
      height: 60px;
      display: block;
    }

    &__title {
      font-size: $font-size-medium;
      line-height: 1.75;
      color: $black-01;
      margin-bottom: 6px;
    }

    &__count {
      font-size: $font-size-small;
      line-height: 1.5;
      color: $gray-15;
    }
  }

  .pro-services {
    padding: 130px 0 90px;
    border-bottom: 1px solid #eee;

    @include respond-to(small-desktop-and-down) {
      padding: 70px 0 40px;
    }

    @include respond-to(phone-and-down) {
      padding: 40px 0 20px;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__intro {
      flex: 1;
      padding-right: 150px;

      @include respond-to(tablet-and-down) {
        padding-right: 50px;
      }

      @include respond-to(phone-and-down) {
        padding-right: 0;
      }
    }

    &__content {
      padding-top: 35px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.83;
      color: #a4a4a4;
    }

    &__images {
      flex-basis: 406px;
      margin-top: 33px;
      margin-right: 50px;

      @include respond-to(tablet-and-down) {
        flex-basis: 300px;
      }

      @include respond-to(phone-and-down) {
        width: 100%;
        flex-basis: auto;
      }

      img {
        width: 100%;
      }
    }
  }

  .pro-tool {
    padding: 70px 0 60px;
    border-bottom: 1px solid #eee;

    @include respond-to(phone-and-down) {
      padding: 40px 0 20px;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__intro {
      flex: 1;
      padding-left: 180px;

      @include respond-to(large-tablet-and-down) {
        padding-left: 50px;
      }

      @include respond-to(phone-and-down) {
        padding-left: 0;
      }
    }

    &__content {
      padding-top: 35px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.83;
      color: #a4a4a4;

      p {
        padding-bottom: 33px;
      }

      strong {
        color: #2f2f2f;
        padding-right: 5px;
        font-weight: 500;
      }
    }

    &__images {
      flex-basis: 378px;
      margin-top: 33px;
      margin-left: 50px;

      @include respond-to(large-tablet-and-down) {
        flex-basis: 300px;
      }

      @include respond-to(phone-and-down) {
        width: 100%;
        flex-basis: auto;
        margin-left: 0;
        margin-bottom: 30px;
      }

      img {
        width: 100%;
      }
    }
  }

  .our-pro {
    padding: 70px 0 280px;
    border-bottom: 1px solid #eee;
    position: relative;

    @include respond-to(desktop-and-down) {
      padding: 50px 0 100px;
    }

    @include respond-to(large-tablet-and-down) {
      padding: 40px 0 60px;
    }

    @include respond-to(phone-and-down) {
      padding: 40px 0 30px;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
    }

    &__intro {
      max-width: 400px;

      @include respond-to(desktop-and-down) {
        max-width: 350px;
      }

      @include respond-to(large-tablet-and-down) {
        max-width: 300px;
      }

      @include respond-to(phone-and-down) {
        max-width: 100%;
      }
    }

    &__content {
      padding-top: 35px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.83;
      color: #a4a4a4;
    }

    &__images {
      width: 981px;
      position: absolute;
      right: 0;

      @include respond-to(desktop-and-down) {
        width: 700px;
      }

      @include respond-to(large-tablet-and-down) {
        width: 450px;
      }

      @include respond-to(phone-and-down) {
        position: static;
        width: 100%;
        margin-top: 30px;
      }

      img {
        width: 100%;
      }
    }
  }

  .jobs-other {
    margin-top: 0;
    background: #fafafa;
  }

  .pro-works {
    background: #fafafa;

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 80px 0;

      @include respond-to(phone-and-down) {
        padding: 40px 0;
      }
    }

    &__item {
      width: calc(100% / 3);
      text-align: center;
      padding: 0 35px;

      @include respond-to(phone-and-down) {
        width: 100%;
        margin: 20px 0;
      }
    }

    &__number {
      width: 70px;
      height: 70px;
      background-color: #84ce3f;
      margin: 0 auto;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      color: #fff;
    }

    &__title {
      font-size: $font-size-medium;
      padding: 25px 0;
      line-height: 1.6;
      color: $black-01;
    }

    &__desc {
      font-size: $font-size-small;
      line-height: 1.5;
      color: $gray-05;
    }
  }
}
