// ======================================================
// Pages :: How it work
// ======================================================

.how-it-work {
  background: #fafafa;

  &__heading {
    padding: 70px 0 80px;

    @include respond-to(tablet-and-down) {
      background: #84ce3f;

      .title {
        color: #fff;
      }
    }

    @include respond-to(phone-and-down) {
      padding: 30px 0;
    }
  }

  .work-info {
    background: #fff;
    padding: 80px 0;
    border-bottom: 1px solid #eee;

    @include respond-to(tablet-and-down) {
      padding: 30px 80px;
    }

    @include respond-to(middlephone-and-down) {
      padding: 30px 0;
    }

    @include respond-to(smallphone-and-down) {
      padding-bottom: 0;
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__image {
      flex-basis: 45%;

      img {
        width: 100%;
      }

      &--left {
        margin-right: 80px;
      }

      &--multi-page {
        margin-left: 113px;
        padding-top: 30px;
      }

      &--mobile {
        margin-right: 90px;
      }

      &--services {
        margin-left: 100px;
      }

      @include respond-to(tablet-and-down) {
        flex-basis: 100%;
        margin: 0;
        padding: 30px 0;
        order: 2;
      }
    }

    &__content {
      flex: 1;
    }

    &__desc {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.83;
      color: #a4a4a4;
      margin-top: 35px;

      p {
        margin-bottom: 30px;
      }

      strong {
        color: #2f2f2f;
        font-weight: 300;
      }
    }

    &__link {
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      display: flex;
      align-items: center;
      padding: 22px 0;
      justify-content: space-between;
      margin-top: 20px;

      a {
        font-weight: 300;
        font-size: 18px;
      }

      i {
        color: #84ce3f;
        font-size: 18px;
      }
    }

    &__title {
      font-size: 15px;
      line-height: 2.2;
      color: #a4a4a4;
      text-transform: uppercase;
    }

    .title {
      position: relative;
      padding-bottom: 28px;

      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 74px;
        height: 2px;
        background-color: #84ce3f;
      }
    }
  }
}
