// ======================================================
// Pages :: Main Dashboard
// ======================================================

.main-dashboard {
  background: #fafafa;
  position: relative;

  &__content {
    padding-bottom: 50px;

    @include respond-to(smallphone-and-down) {
      padding-bottom: 0;
    }
  }

  .general-info-worker {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 85px;
  }

  &__tab {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: solid 1px #f1f1f1;
    margin-top: -59px;
    height: 59px;
    padding: 0 30px;
    overflow-x: auto;
    overflow-y: hidden;

    &-item {
      height: 100%;
      font-size: 12px;
      line-height: 1.6;
      color: #c0c0c0;
      padding: 7px 5px;
      background: transparent;
      border: none;
      white-space: nowrap;

      @include respond-to(phone-and-down) {
        font-size: $font-size-small;
        padding: 0 15px;
        margin-right: 10px;
      }

      @include respond-to(phone-and-down) {
        font-size: $font-size-small - 1;
        padding: 0 15px;
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        border-bottom: 2px solid $primary;
        color: #252525;
      }
    }
  }

  .tab-content {
    &__diary {
      .work-diaryes {
        margin-top: 0;

        .collapse-custom {
          &__list {
            margin-top: 0;
          }
        }
      }
    }
  }

  .workers-analytics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 35px;
    border-radius: 6px;
    border: solid 1px #f3f3f3;
    background-color: #fff;
    margin-top: 27px;

    @include respond-to(large-tablet-and-down) {
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 120px) / 4);
      display: flex;
      align-items: center;
      border-right: 1px solid rgba(#979797, 0.15);

      &:last-child {
        border-right: none;
      }

      @include respond-to(large-tablet-and-down) {
        width: calc((100% - 60px) / 2);
        margin-bottom: 20px;

        &:nth-child(2) {
          border-right: none;
        }
      }

      @include respond-to(middlephone-and-down) {
        width: 100%;
        border-right: none;
      }

      &-icon {
        flex-basis: 64px;
        min-width: 64px;
        height: 64px;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 35px;

        i {
          font-size: 20px;
          color: #b9b9b9;
        }

        .icofont-check {
          font-size: 30px;
        }
      }

      &-content {
        flex: 1;
      }

      &-title {
        font-size: 12px;
        line-height: 1.75;
        color: #a4a4a4;
        margin-bottom: 7px;
      }

      &-number {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.14;
        color: #252525;
      }
    }
  }

  .current-jobs {
    margin-top: 25px;

    &__inner {
      margin-top: 20px;
      display: flex;
      margin-left: -5px;
      margin-right: -5px;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(100% / 4);
      padding: 0 5px;

      @include respond-to(large-tablet-and-down) {
        width: calc(100% / 2);
        margin-bottom: 10px;
      }

      @include respond-to(middlephone-and-down) {
        width: 100%;
      }

      &-inner {
        box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.03);
        border: solid 1px #f1f1f1;
        padding: 30px 25px;
        background: #fff;
        height: 100%;
      }

      &-logo {
        height: 55px;
        margin-bottom: 18px;
        display: flex;
        align-items: center;
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #2f3c4c;
        margin-bottom: 3px;
        height: 97px;
        @include truncate-multiline(3);
      }

      &-location {
        font-size: 14px;
        line-height: 1.71;
        color: #b6b6b6;
        margin-bottom: 12px;
      }

      &-price {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #f5a623;
        margin-bottom: 20px;
      }

      &-status {
        width: 111px;
        height: 37px;
        border-radius: 18.5px;
        background-color: #f5a623;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        font-size: 15px;
        font-weight: 500;
        line-height: 2;
        color: #fff;

        &.active {
          background: #7ed321;
        }
      }
    }
  }

  .current-jobs-working {
    margin-top: 35px;

    &__more-info {
      margin: 25px 0;
      display: flex;
      align-items: center;
    }

    &__tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      span {
        height: 31px;
        border-radius: 8px;
        background-color: #bec5cf;
        margin-right: 8px;
        font-size: 12px;
        line-height: 2;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 0 15px;
      }
    }

    &__more-link {
      margin-left: auto;
      font-size: 14px;
      line-height: 1.5;
      color: #a4a4a4;
      text-decoration: underline;
    }

    &__inner {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      margin-left: -5px;
      margin-right: -5px;
    }

    &__item {
      width: calc(100% / 3);
      padding: 0 5px;
      margin-bottom: 10px;

      @include respond-to(tablet-and-down) {
        width: calc(100% / 2);
      }

      @include respond-to(middlephone-and-down) {
        width: 100%;
        margin-bottom: 10px;
      }

      &-inner {
        box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.03);
        border: solid 1px #f1f1f1;
        background: #fff;
        height: 100%;
      }

      &-content {
        padding: 30px 25px;
        border-bottom: 1px solid #e9e9e9;
      }

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 13px;
        line-height: 1.85;
      }

      &-category {
        color: #7ed321;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: 10px;
          right: 10px;
          padding-right: 30px;
        }
      }

      &-quality {
        padding-left: 15px;
        color: #b6b6b6;
        background: url('#{$path-to-images}/icon-quality.svg') no-repeat left center;
      }

      &-status {
        width: 111px;
        height: 37px;
        border-radius: 18.5px;
        background-color: #f5a623;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        font-size: 15px;
        font-weight: 500;
        line-height: 2;
        color: #fff;
        margin-bottom: 15px;

        &.active {
          background: #7ed321;
        }
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #2f3c4c;
        margin-bottom: 3px;
        height: 97px;
        @include truncate-multiline(3);

        a {
          color: #2f3c4c;
        }
      }

      &-desc {
        font-size: 14px;
        line-height: 1.71;
        color: #b6b6b6;
        padding-bottom: 15px;
        border-bottom: 1px solid #e9e9e9;
      }

      &-user {
        display: flex;
        align-items: center;
        padding-top: 24px;
      }

      &-avatar {
        flex-basis: 54px;
        min-width: 54px;
        margin-right: 30px;

        img {
          width: 100%;
        }
      }

      &-name {
        h4 {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.67;
          color: #2f3c4c;
        }

        p {
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: normal;
          color: #b6b6b6;

          span {
            position: relative;

            &:first-child {
              padding-right: 30px;

              &::before {
                position: absolute;
                content: '';
                right: 15px;
                top: 10px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #d8d8d8;
              }
            }
          }
        }
      }

      &-details {
        font-size: 14px;
        line-height: 1.71;
        color: #2c2c2c;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          color: #7ed321;
        }
      }
    }
  }

  .contracts {
    margin-top: 35px;

    &__list {
      margin-top: 30px;
    }

    &__item {
      border: 1px solid #f4f4f4;
      background: #fff;
      padding: 24px 35px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      @include respond-to(tablet-and-down) {
        flex-wrap: wrap;
      }

      @include respond-to(smallphone-and-down) {
        padding: 20px;
      }

      &:not(:last-child) {
        border-bottom: none;
      }

      &-content {
        flex: 1;
        padding-right: 10px;

        @include respond-to(tablet-and-down) {
          width: 100%;
          margin-bottom: 10px;
          padding-right: 50px;
        }
      }

      &-price {
        flex-basis: 200px;

        @include respond-to(large-tablet-and-down) {
          flex-basis: 130px;
        }

        @include respond-to(tablet-and-down) {
          flex-basis: auto;
          width: 100%;
          margin-bottom: 10px;
        }
      }

      &-price {
        flex-basis: 200px;

        @include respond-to(large-tablet-and-down) {
          flex-basis: 130px;
        }

        @include respond-to(tablet-and-down) {
          flex-basis: auto;
          width: 100%;
          margin-bottom: 10px;
        }
      }

      &-status {
        flex-basis: 200px;

        @include respond-to(large-tablet-and-down) {
          flex-basis: 130px;
        }

        @include respond-to(tablet-and-down) {
          flex-basis: auto;
          width: 100%;
          margin-bottom: 10px;
        }

        .status {
          height: 37px;
          border-radius: 18.5px;
          padding: 0 25px;
          font-size: 15px;
          line-height: 2;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;

          &--progress {
            background: #f5a623;
          }

          &--done {
            background: #7ed321;
          }

          &--canceled {
            background: #f10000;
          }
        }
      }

      &-options {
        display: flex;
        align-items: center;

        @include respond-to(tablet-and-down) {
          position: absolute;
          right: 20px;
          top: 20px;
        }

        span {
          font-size: 18px;
          color: #c6c6c6;
          padding-right: 30px;

          &:last-child {
            padding-right: 0;
          }
        }
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #2f3c4c;
      }

      &-sub-title {
        font-size: 12px;
        line-height: 2;
        color: #b6b6b6;
      }
    }
  }

  .times-sheets-details {
    &__tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 45px;
      background: #fff;
      box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.03);
      border: solid 1px #f1f1f1;
      border-top: none;

      @include respond-to(smallphone-and-down) {
        flex-direction: column;
      }

      &-left {
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;

        @include respond-to(smallphone-and-down) {
          margin-bottom: 20px;
        }
      }

      &-item {
        height: 100%;
        font-size: 15px;
        line-height: 1.6;
        color: #c8c8c8;
        padding: 7px 20px;
        background: transparent;
        border: none;
        border-bottom: 3px solid transparent;
        white-space: nowrap;

        @include respond-to(phone-and-down) {
          font-size: $font-size-small;
          margin-right: 10px;
        }

        @include respond-to(phone-and-down) {
          font-size: $font-size-small - 1;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          border-bottom: 3px solid $primary;
          color: #252525;
        }
      }

      &-add {
        border-radius: 29.5px;
        box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.11);
        width: 156px;
        color: #494949;

        &:hover {
          background: #7ed321;
          color: #fff;
        }
      }
    }

    .tab-content {
      &__times-sheets {
        .times-sheets-tasks {
          &__header-calc {
            display: none;
          }
        }
      }
    }

    .rbc-calendar {
      box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.03);
      border: solid 1px #f1f1f1;
    }
  }

  .times-sheets-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 30px;
    box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.03);
    border: solid 1px #f1f1f1;
    background: #fff;

    &__title {
      font-size: 21px;
      font-weight: 500;
      line-height: 1.14;
      color: #252525;
      margin-bottom: 6px;
    }

    &__sub-title {
      font-size: 12px;
      line-height: 1.75;
      color: #a4a4a4;
    }

    &__user {
      display: flex;
      align-items: center;

      &-avatar {
        flex-basis: 54px;
        width: 54px;
        margin-right: 30px;

        img {
          width: 100%;
        }
      }

      &-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #2f3c4c;
      }

      &-desc {
        font-size: 12px;
        line-height: 2;
        color: #b6b6b6;

        span {
          &:first-child {
            position: relative;
            padding-right: 30px;

            &::before {
              position: absolute;
              content: '';
              right: 15px;
              top: 5px;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: #d8d8d8;
            }
          }
        }
      }
    }
  }

  .times-sheets-tasks {
    margin-top: 30px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-calc {
        p {
          font-size: 12px;
          line-height: 1.75;
          color: #5c5c5c;
          margin-bottom: 6px;
        }

        h3 {
          font-size: 30px;
          font-weight: 500;
          line-height: 0.8;
          color: #212121;

          span {
            padding-left: 5px;
            font-size: 12px;
            color: #c3c3c3;
          }
        }
      }
    }

    &__list {
      margin-top: 25px;
    }

    &__item {
      height: 82px;
      box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.03);
      border: solid 1px #f1f1f1;
      background-color: #fff;
      display: flex;
      align-items: center;
      padding: 0 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transition: all 0.3s ease-in-out;

        .times-sheets-tasks {
          &__item {
            &-status {
              display: flex;
            }

            &-time {
              display: none;
            }

            &-button {
              display: flex;
            }
          }
        }
      }

      &:not(:last-child) {
        border-bottom: none;
      }

      &-inner {
        display: flex;
        align-items: center;
        padding-left: 20px;
        width: 100%;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 2px;
          height: 19px;
          left: 0;
          background: #f5a623;
        }
      }

      &-status {
        padding-right: 10px;
        align-items: center;
        display: none;

        i {
          color: #7ed321;
          font-size: 11px;
        }
      }

      &-node {
        width: 17px;
        height: 17px;
        border-radius: 3px;
        border: solid 6px #7ed321;
        background-color: #fff;
        display: block;
        margin-right: 10px;
      }

      &-desc {
        @extend %truncate;
        font-size: 13px;
        line-height: 1.62;
        color: #5f5f5f;
        padding-right: 10px;
      }

      &-time {
        display: flex;
        align-items: center;
        margin-left: auto;

        i {
          color: #cfcfcf;
          padding-right: 10px;
          font-size: 11px;
        }

        span {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.17;
          color: #313131;
        }
      }

      &-button {
        width: 156px;
        display: none;
        margin-left: auto;
      }
    }
  }

  .all-shared-file {
    margin-top: 36px;

    &__list {
      margin-top: 25px;
    }

    &__item {
      display: flex;
      align-items: center;
      height: 56px;
      border: solid 1px #f2f2f2;
      background-color: #fff;
      padding: 0 20px;

      &:not(:last-child) {
        border-bottom: none;
      }

      &-icon {
        padding-right: 12px;
      }

      &-desc {
        font-size: 12px;
        line-height: 1.75;
        color: #444;
      }

      &-close {
        color: #000;
        margin-left: auto;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .history-login {
    .login-table {
      margin-top: 20px;
      overflow: auto;

      &__wrap {
        min-width: 768px;
      }

      &__header {
        display: flex;
        align-items: center;
        padding: 5px 5px 5px 40px;
      }

      &__col {
        width: calc((100% - 30px) / 3);

        &--last {
          width: 10%;
        }

        &-text {
          @extend %truncate;
          font-size: 12px;
          line-height: 1.75;
          color: #a4a4a4;
        }

        &-user {
          display: flex;
          align-items: center;
        }

        &-avatar {
          width: 31px;
          min-width: 31px;
          margin-right: 25px;

          img {
            width: 100%;
          }
        }

        &-name {
          font-size: 12px;
          font-weight: 500;
          line-height: 2;
          color: #252525;
          @extend %truncate;
        }
      }

      &__opt {
        width: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;

        &-icon {
          transform: rotate(90deg);
          cursor: pointer;
          color: #d8d8d8;
          display: block;
          font-size: 24px;
        }
      }

      &__item {
        display: flex;
        align-items: center;
        padding: 20px 5px 20px 40px;
        background: #fff;
        border: 1px solid #f0f0f0;

        &:not(:last-child) {
          border-bottom: none;
        }
      }
    }
  }

  .user-action {
    margin-top: 31px;

    .tickets-block {
      margin-top: 20px;
    }
  }

  .user-settings {
    margin-top: -25px;

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.03);
      border: solid 1px #f1f1f1;
      border-top: none;
      padding: 32px 45px;

      @include respond-to(phone-and-down) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__user {
      display: flex;
      align-items: center;

      @include respond-to(phone-and-down) {
        margin-bottom: 20px;
      }

      &-image {
        width: 54px;
        height: 54px;
        margin-right: 30px;

        img {
          border-radius: 50%;
          width: 100%;
        }
      }

      &-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #2f3c4c;
      }

      &-email {
        font-size: 12px;
        line-height: 2;
        color: #b6b6b6;
      }
    }

    &__options {
      display: flex;
      align-items: center;

      &-item {
        width: 48px;
        height: 48px;
        margin-right: 25px;
        border-radius: 50%;
        background: rgba(#7ed321, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #7ed321;

          i {
            color: #fff;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        i {
          color: rgba(#84ce3f, 0.8);
        }
      }
    }
  }

  .managers {
    .workers-analytics {
      margin-top: 0;
      border-top: none;
    }

    .work-scheduler {
      margin-top: 25px;
    }
  }

  .work-scheduler {
    &__add-new {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;

      button {
        padding: 0 33px;
        border-radius: 29.5px;
        box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.11);
      }
    }

    .calendar-custom {
      .header-custom {
        justify-content: center;
      }
    }
  }
}
