// ======================================================
// Pages :: Notifications
// ======================================================
.notifications {
  padding: 50px 0;
  background: #fafafa;

  @include respond-to(smallphone-and-down) {
    padding: 30px 0;
  }
}

.notify-block {
  margin-top: 25px;

  @include respond-to(smallphone-and-down) {
    margin-top: 0;
  }

  &__title {
    font-size: 18px;
    line-height: 1.67;
    color: #2f3c4c;
    margin-bottom: 15px;

    span {
      font-size: 24px;
      line-height: 0.88;
      color: #a4a4a4;
      padding-left: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    background: #fff;
    padding: 25px 35px;

    @include respond-to(phone-and-down) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include respond-to(smallphone-and-down) {
      padding: 20px;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 55px;
      min-width: 55px;
      height: 55px;
      margin-right: 27px;
      background: #f8a700;
    }

    &-content {
      padding-right: 10px;

      @include respond-to(phone-and-down) {
        padding-right: 0;
        margin: 15px 0;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.67;
      color: #2e2e2e;
    }

    &-desc {
      font-size: 13px;
      line-height: 2.08;
      color: #a4a4a4;
    }

    &-actions {
      margin-left: auto;
      display: flex;
      align-items: center;

      @include respond-to(phone-and-down) {
        margin-left: unset;
      }

      .action-type {
        display: flex;
        align-items: center;

        &__item {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: solid 1px #efefef;
          background-color: #fff;
          margin-right: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: #fff;
          }

          &--approve {
            &:hover {
              background: #7ed321;
              border: 1px solid #7ed321;
            }
          }

          &--delete {
            &:hover {
              background: #ff1616;
              border: 1px solid #ff1616;
            }
          }
        }
      }

      .action-open {
        width: 156px;
        display: none;

        button {
          height: 42px;
          border-radius: 29px;
          border: 1px solid #eaeaea;

          &:hover {
            background: #7ed321;
            border: 1px solid #7ed321;
            color: #fff;
          }
        }
      }
    }

    &--contract {
      .action-open {
        display: block;
      }

      .action-type {
        display: none;
      }
    }
  }
}
