// ======================================================
// Pages :: Partnership
// ======================================================

.partnership {
  &__inner {
    background: url('#{$path-to-images}/partnership-bg.jpg') no-repeat center center;
    background-size: cover;
  }

  &__content {
    display: flex;
    padding: 90px 0;
    justify-content: flex-end;
  }

  &__form {
    width: 475px;
    max-width: 100%;

    .form-group {
      margin-bottom: 10px;
    }

    textarea {
      height: auto;
      resize: none;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 1.25;
    color: #fff;
    margin-bottom: 15px;
  }

  &__sub-title {
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 25px;
  }
}
