// ======================================================
// Pages :: Post Project
// ======================================================

.post-project {
  background: #fafafa;
  padding-top: 50px;

  @include respond-to(smallphone-and-down) {
    padding-top: 30px;
  }

  .form-submit {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 35px 50px;

    @include respond-to(phone-and-down) {
      padding: 20px;
    }

    @include respond-to(smallphone-and-down) {
      margin: 30px 0;
    }

    &__item {
      &-large-title {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        color: #333;
        margin-bottom: 8px;
      }

      &-title {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.62;
        color: #333;
        margin-bottom: 8px;

        i {
          color: #7ed321;
        }
      }

      &-sub-title {
        font-size: 11px;
        line-height: 1.91;
        color: #7f7f7f;
        margin-bottom: 12px;
      }

      &-usd {
        flex-basis: 99px;
        margin-right: 7px;

        @include respond-to(phone-and-down) {
          flex-basis: auto;
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      &--about-job {
        textarea {
          height: auto;
        }
      }
    }

    &__send {
      padding: 36px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ececec;

      &-total {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        color: #464646;
      }

      .button {
        flex-basis: 183px;
        height: 54px;
        border-radius: 28.5px;
      }
    }

    &__term {
      padding-top: 25px;

      p {
        font-size: 11px;
        line-height: 1.91;
        text-align: center;
        color: #7f7f7f;
      }
    }
  }

  &--local-step-1 {
    .form-submit {
      max-width: 730px;
      margin: 0 auto;
    }

    .steps-block {
      margin-top: 55px;
      margin-bottom: 20px;
    }

    .form-submit {
      background: none;
      border: none;
      padding: 0;

      &__container {
        background: #fff;
        border: 1px solid #ebebeb;
        padding: 35px 85px;

        @include respond-to(phone-and-down) {
          padding: 25px;
        }
      }

      &__term {
        border-top: 1px solid #ececec;
        margin-top: 28px;
      }

      &__send {
        border-bottom: none;
        justify-content: center;
      }
    }
  }

  .step-button {
    padding: 45px 0;
    display: flex;
    justify-content: center;

    @include respond-to(smallphone-and-down) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .button {
      width: 198px;
      border: 1px solid #f0f0f0;
      background: #fff;

      &:hover {
        background: #7ed321;
        color: #fff;
        border: 1px solid #7ed321;
      }
    }
  }

  .steps-block {
    margin: 60px 0;

    @include respond-to(phone-and-down) {
      margin: 30px 0;
    }
  }

  &--local-step-3 {
    .job-checkout {
      &__inner {
        padding: 60px 20px;
        border: 1px solid #f2f2f2;
        background: #fff;

        @include respond-to(phone-and-down) {
          padding: 20px;
        }
      }

      &__title {
        font-size: 27px;
        font-weight: 500;
        line-height: 1.04;
        color: #252525;
        margin-bottom: 6px;
        padding: 0 70px;

        @include respond-to(phone-and-down) {
          padding: 0;
        }
      }

      &__sub-title {
        font-size: 15px;
        line-height: 1.6;
        color: #a4a4a4;
        margin-bottom: 40px;
        padding: 0 70px;

        @include respond-to(phone-and-down) {
          padding: 0;
        }
      }

      .payment-price {
        padding: 20px 30px;
        background: #fafafa;
        margin-bottom: 67px;

        @include respond-to(phone-and-down) {
          margin-bottom: 30px;
          padding: 15px;
        }

        &__list {
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 40px;
            font-size: 15px;
            line-height: 3.2;
            color: #a4a4a4;

            @include respond-to(phone-and-down) {
              padding: 0;
            }

            &:nth-child(2) {
              border-bottom: 1px solid #ececec;
              padding-bottom: 15px;
              margin-bottom: 15px;
            }
          }
        }

        &__total {
          font-size: 27px;
          font-weight: 500;
          line-height: 1.78;
          color: #7ed321;
        }
      }
    }
  }

  &--local-step-4 {
    .completed-checkout {
      &__inner {
        padding: 60px 20px;
        border: 1px solid #f2f2f2;
        background: #fff;
        text-align: center;

        @include respond-to(phone-and-down) {
          padding: 20px;
        }
      }

      &__icon {
        width: 128.4px;
        height: 128.4px;
        border: solid 6px #7ed321;
        background: #fff;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;

        i {
          font-size: 70px;
          color: #7ed321;
        }
      }

      &__title {
        font-size: 27px;
        font-weight: 500;
        line-height: 1.04;
        color: #252525;
        margin-bottom: 20px;
      }

      &__desc {
        font-size: 15px;
        line-height: 1.6;
        color: #a4a4a4;
      }
    }
  }
}

.suggested-skill {
  margin-top: 10px;
  font-size: 11px;
  line-height: 1.91;
  display: flex;
  align-items: center;

  &__title {
    color: #7f7f7f;
    padding-right: 10px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      color: #84ce3f;
      position: relative;
      padding-right: 10px;
      text-decoration: underline;
      cursor: pointer;

      &:not(:last-child) {
        &::before {
          position: absolute;
          content: ',';
          bottom: 0;
          right: 5px;
          color: #84ce3f;
        }
      }
    }
  }
}

.optional-upgrades {
  margin-top: 15px;

  &__item {
    border-radius: 3px;
    background: #fdfefe;
    border: 1px solid #e7e7e7;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 9px;

    &.active {
      border-color: #84ce3f;
    }

    &--start {
      align-items: flex-start;

      .optional-upgrades {
        &__item-content {
          flex-basis: auto;
          flex: 1 0 auto;
          max-width: 100%;
        }
      }
    }

    &-icon {
      flex-basis: 38px;
      margin-right: 34px;

      img {
        width: 100%;
      }
    }

    &-content {
      flex-basis: 350px;
      margin-right: 20px;

      h4 {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.62;
        color: #333;
      }

      p {
        font-size: 11px;
        line-height: 1.91;
        color: #7f7f7f;
      }
    }

    &-fee {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.62;
      color: #464646;
    }
  }

  .advance-option {
    margin-top: 12px;

    &__item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px 0;
      border-top: 1px solid #f0f0f0;

      .radio-default {
        margin-right: 11px;
        margin-bottom: 7px;
      }

      &-label {
        height: 19px;
        border-radius: 9.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-right: 22px;
        text-transform: uppercase;
        font-size: 8px;
        padding: 0 10px;

        &--recruiter {
          background: #9013fe;
        }

        &--featured {
          background: #ef7c12;
        }

        &--urgent {
          background: #e02a28;
        }

        &--private {
          background: #f3a22e;
        }
      }

      &-content {
        font-size: 11px;
        line-height: 1.91;
        color: #7f7f7f;
      }

      &-price {
        margin-left: auto;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.62;
        color: #464646;
      }
    }
  }
}
