// ======================================================
// Pages :: Privacy Policy
// ======================================================

.privacy-policy {
  background: #fafafa;
  padding: 54px 0;

  @include respond-to(smallphone-and-down) {
    padding: 30px 0;
  }

  &__inner {
    margin-top: 80px;

    @include respond-to(smallphone-and-down) {
      margin-top: 30px;
    }
  }

  &__item {
    padding: 50px 60px;
    background: #fff;
    border: 1px solid #f2f2f2;

    @include respond-to(smallphone-and-down) {
      padding: 25px;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      color: #252525;
      position: relative;
      padding-bottom: 28px;

      &::before {
        position: absolute;
        content: attr(data-title);
        top: 14px;
        left: 0;
        font-size: 75px;
        line-height: 0.37;
        font-weight: 300;
        color: rgba(#a4a4a4, 0.1);
      }
    }

    p {
      font-size: 15px;
      line-height: 1.87;
      color: #a4a4a4;
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
