// ======================================================
// Pages :: Profile Job Worker
// ======================================================

.profile-job-worker {
  &__inner {
    background: #fafafa;
    padding-bottom: 54px;

    @include respond-to(phone-and-down) {
      padding-bottom: 30px;
    }
  }

  &__other {
    padding: 40px 0;

    @include respond-to(smallphone-and-down) {
      padding: 0;
    }

    .job-list {
      padding-top: 55px;
    }
  }

  .block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &__left {
      font-size: 12px;
      line-height: 2;
      color: #252525;
      text-transform: uppercase;
    }

    &__select {
      flex-basis: 155px;

      .form-control {
        height: 42px;
      }
    }

    &__link {
      font-size: 12px;
      line-height: 2;
      color: #bababa;
    }
  }

  .header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-to(phone-and-down) {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 20px;
    }

    &__flag {
      background: url('#{$path-to-images}/icon-flag-green.svg') no-repeat left center;
      padding-left: 30px;
      font-size: 14px;
      line-height: 1.71;
      color: #474747;
    }
  }

  .worker-profile {
    &__tab {
      margin-bottom: 25px;
      display: flex;
      align-items: center;

      &-item {
        height: 100%;
        font-size: 15px;
        line-height: 1.6;
        color: #c0c0c0;
        padding: 7px 5px;
        margin-right: 20px;
        background: transparent;
        border: none;
        margin-bottom: -1px;

        @include respond-to(phone-and-down) {
          font-size: $font-size-small;
          padding: 0 15px;
          margin-right: 10px;
        }

        @include respond-to(phone-and-down) {
          font-size: $font-size-small - 1;
          padding: 0 15px;
          margin-right: 10px;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          border-bottom: 2px solid $primary;
          color: #252525;
        }
      }
    }

    &__inner {
      margin-bottom: 15px;
    }
  }

  .freelancer-worker-sidebar {
    flex-basis: 266px;
    margin-right: 15px;

    @include respond-to(large-tablet-and-down) {
      width: 100%;
      flex-basis: auto;
    }

    .freelancer-verified {
      @extend %box-style;
      padding: 27px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        margin-bottom: 18px;
      }

      &__content {
        text-align: center;

        h4 {
          font-size: 12px;
          line-height: 1.6;
          color: #252525;
          margin-bottom: 4px;
        }

        p {
          font-size: 12px;
          line-height: 1.4;
          color: #a4a4a4;
        }
      }
    }

    .another-job {
      padding: 25px;
    }
  }

  .about-details {
    @extend %box-style;
    flex: 1;
    padding: 30px 24px;

    @include respond-to(tablet-and-down) {
      width: 100%;
    }

    &__desc {
      &-content {
        p {
          font-size: 15px;
          line-height: 1.6;
          color: #a4a4a4;
          margin-bottom: 20px;
        }
      }
    }

    &__info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 18px;

      &-item {
        padding-right: 112px;

        @include respond-to(phone-and-down) {
          padding-right: 50px;
        }

        @include respond-to(smallphone-and-down) {
          width: 100%;
          padding-right: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        p {
          font-size: 12px;
          line-height: 2;
          color: #b6b6b6;
        }

        h4 {
          font-size: 21px;
          font-weight: 500;
          line-height: 1.43;
          color: #505050;
        }
      }
    }

    &__skill {
      padding: 22px 0 55px;

      &-list {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #bec5cf;
          height: 31px;
          border-radius: 8px;
          font-size: 12px;
          line-height: 2;
          color: #fff;
          padding: 3px 15px;
          margin-right: 8px;
          margin-bottom: 5px;
        }
      }
    }

    &__languages {
      &-list {
        margin-top: 20px;
        display: flex;
        align-items: center;
      }

      &-item {
        padding-right: 30px;
        display: flex;
        align-items: center;

        &:last-child {
          padding-right: 0;
        }

        img {
          flex-basis: 15px;
          height: 10px;
          padding-right: 9px;
        }

        span {
          font-size: 12px;
          line-height: 1.75;
          color: #a4a4a4;
        }
      }
    }
  }

  .more-profile {
    @extend %box-style;
    flex-basis: 326px;
    padding: 30px 24px;
    margin-left: 10px;

    @include respond-to(tablet-and-down) {
      margin-top: 15px;
      margin-left: 0;
      flex-basis: auto;
      width: 100%;
    }

    &__list {
      margin-top: 27px;

      @include respond-to(tablet-and-down) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      padding-bottom: 27px;

      @include respond-to(tablet-and-down) {
        width: calc((100% - 20px) / 2);
      }

      @include respond-to(middlephone-and-down) {
        width: 100%;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &-img {
        flex-basis: 54px;
        height: 54px;
        margin-right: 32px;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      &-content {
        flex: 1;
      }

      &-title {
        font-size: 15px;
        font-weight: 500;
        line-height: 2;

        a {
          color: #2f3c4c;
        }
      }

      &-desc {
        display: flex;
        align-items: center;

        li {
          font-size: 12px;
          line-height: 2;
          color: #b6b6b6;

          &:first-child {
            position: relative;
            padding-right: 25px;

            &::before {
              @extend %dot-gray;
              right: 10px;
              top: 10px;
            }
          }
        }
      }
    }
  }

  .worker-verified {
    @extend %box-style;
    padding: 27px 50px;
    margin: 13px 0;
    display: flex;
    align-items: center;

    &__image {
      flex-basis: 50px;
      margin-right: 43px;
    }

    &__content {
      flex: 1;

      h4 {
        font-size: 15px;
        line-height: 1.6;
        color: #252525;
        margin-bottom: 4px;
      }

      p {
        font-size: 15px;
        line-height: 1.4;
        color: #a4a4a4;
      }
    }
  }

  .history-feedback {
    @extend %box-style;
    padding: 33px 25px 0 25px;

    &__list {
      margin-top: 24px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #f0f0f0;
      padding: 25px 0 40px;

      &-content {
        padding-right: 20px;
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #7ed321;
        margin-bottom: 7px;
      }

      &-time {
        font-size: 12px;
        line-height: 1.75;
        color: #252525;
        margin-bottom: 7px;
      }

      &-desc {
        font-size: 15px;
        line-height: 1.4;
        color: #a4a4a4;
        margin-bottom: 10px;
      }

      &-review {
        display: flex;
        align-items: center;
      }

      &-star {
        padding-right: 10px;
        display: flex;
        align-items: center;

        .icofont-star {
          color: #d2d2d2;
          padding-right: 3px;

          &.active {
            color: #f5a623;
          }
        }
      }

      &-point {
        font-size: 12px;
        line-height: 1.75;
        color: #a4a4a4;
      }

      &-price {
        font-size: 15px;
        line-height: 1.6;
        text-align: right;
        color: #a4a4a4;

        p {
          @extend %truncate;
        }
      }
    }
  }

  .porfolio {
    @extend %box-style;
    padding: 33px 25px;
    margin: 25px 0;

    .block-title {
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 16px;
    }

    &__add {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;

      button {
        width: 150px;
      }
    }

    &__list {
      padding-top: 15px;
      display: flex;
      flex-wrap: wrap;
      margin-left: -6px;
      margin-right: -6px;
    }

    &__item {
      width: calc(100% / 6);
      margin-bottom: 12px;
      padding: 0 6px;

      @include respond-to(phone-and-down) {
        width: calc(100% / 3);
      }

      @include respond-to(smallphone-and-down) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    &__more {
      text-align: center;
      font-size: 12px;
      line-height: 1.75;

      a {
        color: #a4a4a4;
      }
    }
  }

  .employment-history {
    @extend %box-style;
    padding: 33px 25px 0 25px;
    margin-bottom: 25px;

    &__list {
      margin-top: 22px;
    }

    &__item {
      padding: 24px 0 29px;
      border-top: 1px solid #f1f1f1;

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        margin-bottom: 3px;

        a {
          color: #252525;
        }
      }

      &-time {
        font-size: 12px;
        line-height: 1.75;
        color: #a4a4a4;
      }

      &-desc {
        font-size: 15px;
        line-height: 1.75;
        color: #a4a4a4;
        margin-top: 20px;
      }
    }
  }

  .worker-test {
    @extend %box-style;
    padding: 33px 25px 0 25px;

    &__list {
      margin-top: 22px;
    }

    &__item {
      padding: 24px 0 29px;
      border-top: 1px solid #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-content {
        padding-right: 20px;
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: #252525;
        margin-bottom: 8px;
      }

      &-time {
        font-size: 12px;
        line-height: 1.75;
        color: #a4a4a4;
        margin-right: 5px;
      }

      .rank {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        padding: 0 19px;
        border-radius: 11px;
        font-size: 11px;
        color: #ffffff;

        &--first {
          background-color: #f5a623;
        }

        &--top20 {
          background: #1380ff;
        }
      }

      &-link {
        font-size: 15px;
        line-height: 1.4;
        color: #7ed321;
        text-decoration: underline;
      }
    }
  }
}
