// ======================================================
// Pages :: Settings Account
// ======================================================

.settings-account {
  background: #fafafa;
  padding-bottom: 30px;

  &__sidebar-show {
    display: none;
    cursor: pointer;
    font-size: 20px;

    @include respond-to(large-tablet-and-down) {
      display: block;
      margin-bottom: 15px;
      transition: all 0.2s ease-in-out;
    }
  }

  &__inner {
    display: flex;
    margin-top: 27px;
    justify-content: space-between;
    position: relative;
  }

  .settings-sidebar {
    flex-basis: 236px;
    width: 236px;
    margin-right: 52px;

    @include respond-to(large-tablet-and-down) {
      transform: translateX(-300px);
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 30px;
      margin-right: 0;

      &.show {
        transform: translateX(0);
        background: #fff;
        z-index: 2;
        box-shadow: 0 0 15px 2px rgba(#000, 0.2);
      }
    }

    &__title {
      padding-left: 15px;
      margin-bottom: 25px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      color: #252525;
    }

    &__menu {
      background: #fff;
    }

    &__item {
      font-size: 12px;
      line-height: 3.58;
      color: #a4a4a4;
      padding: 0 15px 0 45px;
      border-left: 5px solid transparent;
      cursor: pointer;

      &.active,
      &:hover {
        border-left: 5px solid #7ed321;

        .settings-sidebar {
          &__item {
            &-icon {
              color: #7ed321;
            }

            &-title {
              color: #454545;
            }
          }
        }
      }

      &-icon {
        width: 15px;
        margin-right: 25px;
      }
    }
  }

  .settings-content {
    flex: 1;

    .checkout-form {
      margin-top: 15px;
    }

    .checkout-methods {
      &__item {
        display: flex;
        align-items: center;
        border: solid 1px #f3f3f3;
        background: #fff;
        padding: 26px 25px 26px 40px;

        &-branch {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.62;
          color: #333;
          margin-right: 17px;
        }

        &-email {
          font-size: 13px;
          line-height: 1.62;
          color: #acacac;
        }

        &-opt {
          margin-left: auto;
        }
      }
    }
  }

  .settings-block {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }

    &__header {
      display: flex;
      justify-content: space-between;

      &-left {
        flex: 1;
      }

      &-button {
        width: 202px;
        height: 57px;
        border-radius: 28.5px;

        @include respond-to(smallphone-and-down) {
          margin-left: 20px;
          width: 150px;
          height: 48px;
        }
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      color: #252525;
      margin-bottom: 2px;
    }

    &__sub-title {
      font-size: 12px;
      line-height: 1.75;
      color: #a4a4a4;
    }

    .settings-form {
      margin-top: 25px;
      background: #f3f3f3;
      background: #fff;
      padding: 25px 40px;

      @include respond-to(phone-and-down) {
        padding: 20px;
      }

      &__item {
        margin-bottom: 25px;

        &-title {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.62;
          color: #333;
          margin-bottom: 15px;
        }

        &-note {
          font-size: 13px;
          line-height: 1.62;
          color: #acacac;
          margin-top: 9px;
        }

        .form-control,
        .ant-select-selection__placeholder,
        .ant-select-search__field__placeholder {
          color: #878787;
        }

        &--phone {
          position: relative;

          button {
            position: absolute;
            bottom: 6px;
            right: 6px;
            width: 90px;
            height: 37px;
            border-radius: 3px;
          }
        }
      }

      &__columns {
        &-item {
          width: calc((100% - 10px) / 2);
          margin-bottom: 25px;

          @include respond-to(phone-and-down) {
            margin-bottom: 10px;
            width: 100%;
          }
        }
      }

      &__phone {
        margin-bottom: 35px;

        &-inner {
          display: flex;
        }

        &-code {
          flex-basis: 100px;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            right: 0;
            top: 10px;
            background: rgba(#979797, 0.15);
            width: 1px;
            height: 27px;
            z-index: 2;
          }

          .form-control {
            border-right: none;
          }
        }

        &-number {
          flex: 1;

          .form-control {
            border-left: none;

            &:focus {
              border: 1px solid #eaeaea;
              border-left: none;
            }
          }
        }

        .form-control,
        .ant-select-selection__placeholder,
        .ant-select-search__field__placeholder {
          color: #878787;
        }
      }

      &__accept {
        display: flex;
        align-items: center;

        button {
          width: 159px;
          height: 57px;
          margin-right: 35px;
          border-radius: 28.5px;
        }

        &-close {
          font-size: 15px;
          font-weight: 500;
          line-height: 1.87;
          color: #393939;
          cursor: pointer;
        }
      }
    }

    .get-paid-form {
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond-to(smallphone-and-down) {
          flex-direction: column;
          align-items: flex-start;
        }

        &:not(:last-child) {
          padding-bottom: 35px;
          margin-bottom: 30px;
          border-bottom: 1px solid rgba(#979797, 0.15);
        }

        &-title {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.62;
          color: #333;
          margin-bottom: 20px;
        }

        &-desc {
          font-size: 15px;
          line-height: 1.4;
          color: #dadada;

          span {
            padding-left: 10px;
            font-size: 24px;
            color: #7ed321;
          }
        }

        &-button {
          width: 156px;

          @include respond-to(smallphone-and-down) {
            margin-top: 20px;
          }
        }
      }
    }

    .payment-methods {
      display: flex;
      align-items: center;

      &__item {
        display: flex;
        align-items: center;

        &-logo {
          min-width: 75px;
          flex-basis: 75px;
          margin-right: 26px;

          img {
            width: 100%;
          }
        }

        &-name {
          font-size: 15px;
          font-weight: 500;
          line-height: 1.6;
          color: #252525;
        }

        &-status {
          font-size: 12px;
          line-height: 1.75;
          color: #a4a4a4;
        }
      }
    }

    .categories-form {
      margin-top: 25px;
      background: #f3f3f3;
      background: #fff;
      padding: 25px 40px;

      @include respond-to(phone-and-down) {
        padding: 20px;
      }

      &__list {
        margin-top: 16px;
        margin-bottom: 35px;
      }

      &__item {
        cursor: pointer;

        &-title {
          font-size: 13px;
          line-height: 2.92;
          color: #333;
          display: flex;
          align-items: center;

          i {
            flex-basis: 16px;
            min-width: 16px;
            height: 16px;
            border: solid 1px #7ed321;
            background: #7ed321;
            margin-right: 16px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 8px;
          }
        }
      }

      &__accept {
        button {
          width: 159px;
          height: 57px;
          margin-right: 35px;
          border-radius: 28.5px;
        }
      }
    }

    .sub-categories {
      padding: 30px 0 30px 40px;
      display: flex;
      flex-wrap: wrap;

      .checkbox-default {
        width: calc((100% - 80px) / 2);
        margin-bottom: 15px;
        flex: auto;

        @include respond-to(phone-and-down) {
          width: 100%;
        }
      }
    }

    .sub-notifications {
      display: flex;
      flex-wrap: wrap;

      &__col {
        width: calc((100% - 80px) / 2);

        @include respond-to(phone-and-down) {
          width: 100%;
        }
      }

      .checkbox-default {
        margin-bottom: 25px;
        flex: auto;

        &:last-child {
          margin-bottom: 0;

          @include respond-to(phone-and-down) {
            margin-bottom: 25px;
          }
        }
      }
    }

    .linked-list {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__item {
        width: calc((100% - 48px) / 3);
        display: flex;
        align-items: center;
        padding: 25px 40px;
        border: 1px solid #f3f3f3;
        background: #fff;
        cursor: pointer;
        transition: all .2s ease-in-out;

        @include respond-to(phone-and-down) {
          width: 100%;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:hover {
          border: 1px solid #7ed321;
        }

        &.active {
          .linked-list {
            &__item {
              border: 1px solid #7ed321;
              background: #fff;

              &-icon,
              &-title,
              &-desc {
                color: #7ed321;
              }
            }
          }
        }

        &-icon {
          margin-right: 50px;
          color: #cbcbcb;
          font-size: 30px;
        }

        &-title {
          font-size: 15px;
          font-weight: 500;
          line-height: 1.6;
          color: #252525;
        }

        &-desc {
          font-size: 12px;
          line-height: 1.75;
          color: #a4a4a4;
        }
      }
    }
  }
}
