// ======================================================
// Pages :: Support Center Overview
// ======================================================

.support-center-overview {
  .suggested-articles {
    margin-top: 70px;

    @include respond-to(phone-and-down) {
      margin-top: 30px;
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      color: #252525;
    }

    &__inner {
      margin-top: 35px;
    }

    &__list {
      font-size: 15px;
      line-height: 1.87;
      color: #a4a4a4;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      span {
        width: calc((100% - 60px) / 4);

        @include respond-to(phone-and-down) {
          width: calc((100% - 60px) / 2);
        }

        @include respond-to(smallphone-and-down) {
          width: 100%;
        }
      }
    }
  }

  .support-object {
    &__item {
      padding: 70px 80px;
      box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.03);
      border: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @include respond-to(phone-and-down) {
        padding: 30px;
      }

      &:first-child {
        border-bottom: none;
      }

      &-content {
        flex: 1;
        padding-right: 20px;

        @include respond-to(phone-and-down) {
          padding-right: 0;
          width: 100%;
          flex: auto;
          margin-bottom: 20px;
        }
      }

      &-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        color: #252525;
        margin-bottom: 27px;
      }

      &-text {
        font-size: 18px;
        line-height: 1.83;
        color: #a4a4a4;
      }

      &-image {
        flex-basis: 277px;

        @include respond-to(phone-and-down) {
          width: 100%;
          margin: 0 auto;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
