// ======================================================
// Pages :: Support Center
// ======================================================

.support-center {
  background: #fafafa;

  .search-questions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 85px 15px 100px;
    background-color: #84ce3f;

    @include respond-to(tablet-and-down) {
      padding: 50px 15px;
    }

    &__input {
      width: 100%;
      margin-top: 43px;

      .form-control {
        border-radius: 27.5px;
        height: 57px;
      }
    }
  }

  .support-content {
    padding-bottom: 70px;

    @include respond-to(phone-and-down) {
      padding-bottom: 30px;
    }

    @include respond-to(smallphone-and-down) {
      padding-bottom: 0;
    }

    &__notify {
      border-radius: 3px;
      background: rgba(#84ce3f, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 26px 10px;
      margin: 40px 0;

      p {
        font-size: 15px;
        line-height: 1.6;
        color: #585858;
      }
    }

    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 30px) / 3);
      padding: 30px 40px;
      border: solid 1px #f3f3f3;
      background-color: #fff;
      margin-bottom: 15px;
      transition: all 0.3s ease-in-out;

      @include respond-to(tablet-and-down) {
        width: calc((100% - 15px) / 2);
      }

      @include respond-to(middlephone-and-down) {
        width: 100%;
      }

      @include respond-to(smallphone-and-down) {
        padding: 20px;
      }

      &:hover {
        border: 1px solid #84ce3f;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }

      &:first-child {
        text-align: center;

        .support-content {
          &__item-title {
            padding-top: 25px;
            padding-bottom: 20px;
            margin-bottom: 0;
          }
        }
      }

      &-title {
        font-size: 18px;
        line-height: 1.33;
        color: #252525;
        margin-bottom: 25px;
      }

      &-desc {
        font-size: 14px;
        line-height: 2.14;
        color: #a4a4a4;
      }

      &-link {
        font-size: 14px;
        line-height: 2.14;
        color: #7ed321;
        text-decoration: underline;
        margin-top: 65px;
        display: block;

        @include respond-to(smallphone-and-down) {
          margin-top: 30px;
        }
      }
    }
  }
}
