.NavigationItems {
  display: inline-block;
}

.NavigationItems ul {
  display: inline-flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  list-style: none;
  align-items: center;
  padding: 0;
}

@media (max-width: 1200px) {
  .NavigationItems ul {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    width: 100%;
  }
}
