.sectionS4-cards {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.method_container {
  margin-left: 10%;
}
.img_method_container {
  margin: 2% auto 5% 20%;
}

.img_method {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgb(40, 118, 221);
  box-shadow: 3px 3px #2876dd66, 6px 6px #2876dd4d, 9px 9px #2876dd33,
    12px 12px #2876dd1a, 15px 15px #2876dd0d;
}
.img_method1,
.img_method2 {
  width: 50px;
  height: 50px;
}
.img_method1 {
  background-image: url("../../../assets/images/outmethods_quantitative-3-3.svg");
}
.img_method2 {
  background-image: url("../../../assets/images/ourmethods_qualitative_.svg");
}

@media (max-width: 992px) {
  .sectionS4-cards {
    flex-flow: column;
    text-align: center;
  }
  .img_method_container {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .sectionS4-cards p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
