.signUpFooter {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 81%),
      rgba(28, 30, 32, 81%)
    ),
    url("../../../assets//images//MaskGroup2.jpg");
}
.signUpFooter {
  padding: 8% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #c9bfbf;
  border-top: 2px solid #c9bfbf;
}
@media (max-width: 992px) {
  .signUpFooter h2 {
    font-size: 1.7rem;
  }
}
