.NavigationItem {
  display: flex;
  justify-content: flex-start;
  width: auto;
  align-items: center;
  list-style: none;
}

.NavigationItem a {
  color: white;
  margin: 4px 20px;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  /* border-bottom: 2px solid transparent; */
  text-decoration: none !important;
  transition: all 0.35s ease-in;
}
.NavigationItem a:after {
  display: block;
  content: "";
  border-bottom: 2px solid #2699fb;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.NavigationItem a:hover:after,
.NavigationItem a.active:after {
  transform: scaleX(1);
}
/* .NavigationItem a.fromRight:after {
  transform-origin: 100% 50%;
}
.NavigationItem a.fromLeft:after {
  transform-origin: 0% 50%;
} */

.NavigationItem a:hover,
.NavigationItem a.active {
  color: white;
}

@media (max-width: 1200px) {
  .NavigationItem {
    padding: 8px 4px;
    border-bottom: 1px solid #111;
    margin-right: 0px;
  }

  .NavigationItem a {
    color: black;
    padding: 4px 2px;
    /* border-bottom: 2px solid transparent; */
  }

  .NavigationItem a:hover,
  .NavigationItem a.active {
    border-bottom: none;
    color: #2698fbda !important;
  }
}
