.login {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 80%),
      rgba(28, 30, 32, 80%)
    ),
    url(" ../../../../../assets/images/login/Mask\ Group\ 11.jpg");
}

.login-page {
  margin: 10% 0%;
}
@media (max-width: 992.98px) {
  .login-page .row {
    flex-flow: column-reverse;
  }
  .login-page {
    margin: 15% 0%;
  }
}
