.SocalMedia {
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.SocalMedia a {
  text-align: center;
  margin: 0px 10px;
  background-color: white;
  padding: 5px;
  color: #1c1e20;
  border: 1px solid transparent;
  border-radius: 8px;
}

.SocalMedia a:hover {
  cursor: pointer;
  color: #2699fb;
}
