/* .sectionH2 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
} */

/* .sectionH2:first-child a {
  background-color: #e8f7fd;
  padding: 5px 40px;
  border-radius: 20px !important;
  color: #259bf9;
  border: 2px solid transparent;
}
.sectionH2:first-child a:hover {
  border-color: #259bf9;
} */
