.gallery-h {
  font-size: 2.6rem !important;
}
.gallery-p {
  font-size: 18pt;
}

.gallery-div {
  padding-left: 5rem !important;
}

@media (max-width: 992px) {
  .gallery-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .gallery-h {
    font-size: 23pt;
  }
  .gallery-p {
    font-size: 18pt;
  }
}
