.h-1px {
  height: 2px !important;
}

@media (min-width: 992.98px) {
  .questions ul {
    padding-right: 7rem !important;
  }
}
@media (max-width: 992.98px) {
  .questions div {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }
}
