.analysis_img {
  background-image: url("../../../assets/images/home/home-01-610x432.jpg");
  /* width: 576px; */
  width: 100%;
  height: 80%;
  border: none;
  /* background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box; */
}

@media (max-width: 992.98px) {
  .analysis_img {
    height: 50vmin;
  }
}
