.serviceCard__img {
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 10px 0px;
}
.serviceCard__img img {
  width: 40px !important;
  height: 40px !important;
}
.service-h4 {
  color: #259bf9;
}
.service-p {
  color: #606a74;
  text-align: center;
}
