.fullHeader {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* background-attachment: fixed; */
}

/* .about {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 0.5),
      rgba(28, 30, 32, 0.5)
    ),
    url("../assets/images/MaskGroup9.jpg");
} */
.contact-section {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 91%),
      rgba(28, 30, 32, 91%)
    ),
    url("../assets/images/Mask\ Group\ 12.jpg");
}
.page-bg {
  background-color: rgb(27, 27, 27);
}
.nF-page {
  margin-top: 65px;
}
.nF-page h1 {
  margin: 35% 3%;
  color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
