.fullHeader {
  height: 80vmin;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* background-attachment: fixed; */
}

.home {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 38%),
      rgba(28, 30, 32, 38%)
    ),
    url("../assets/images/Mask1.jpg");
}
.about {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 0.5),
      rgba(28, 30, 32, 0.5)
    ),
    url("../assets/images/MaskGroup9.jpg");
}
.contact-section {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 91%),
      rgba(28, 30, 32, 91%)
    ),
    url("../assets/images/Mask\ Group\ 12.jpg");
}
.login {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 38%),
      rgba(28, 30, 32, 38%)
    ),
    url("../assets/images/Mask\ Group\ 11.jpg");
}
