.NavigationItem {
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  width: auto;
  align-items: center;
}

.NavigationItem a {
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  text-decoration: none !important;
  padding: 4px 20px;
  border: none;
}

.NavigationItem a:hover,
.NavigationItem a.active {
  border-color: #42c9eb;
  text-decoration: none !important;
  color: white;
}

@media (max-width: 1200px) {
  .NavigationItem {
    margin: 0;
    padding: 8px 4px;
    border-bottom: 1px solid #111;
  }

  .NavigationItem a {
    color: black;
    padding: 4px 2px;
    margin: 4px 10px;
    /* border-bottom: 2px solid transparent; */
  }

  .NavigationItem a:hover,
  .NavigationItem a.active {
    border-bottom: none;
    color: #2699fb;
  }
}
.login-btn {
  background-color: transparent;
}
@media (min-width: 1200px) {
  .NavigationItem {
    border: 2px solid white;
    border-radius: 30px;
  }
  .signup,
  .login-btn:hover {
    background-color: #2699fb;
    border-color: #2699fb;
  }
  .signup:hover {
    background-color: #2698fbda;
    border-color: #2698fbda;
  }
}
