.font {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.box {
  margin: 1rem;
  padding: 1rem 0rem;
}
.office-name,
.t1,
.t2 {
  text-transform: capitalize;
  color: #1c1e20;
}
.list-contact li {
  border: none !important;
  padding-left: 0;
}
.p1,
.p2 {
  font-size: 0.85rem;
  color: #606a74;
}
.list-contact li span {
  color: #606a74;
}
.t2 {
  font-size: 1.4rem;
  color: #259bf9;
}

.form-name {
  font-size: 1rem;
  color: #259bf9;
}

.submit {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  background-color: #2699fb !important;
  padding: 10px 40px;
  border-radius: 20px !important;
  margin-top: 40px;
  color: white !important;
}
.submit:hover {
  background-color: #2698fbda !important;
}

@media (max-width: 960px) {
  .box {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
  }
}
