// ======================================================
// Components :: Breadcrumb
// ======================================================

.breadcrumb {
  padding-top: 15px;
  padding-bottom: 15px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__icon {
    color: $gray-27;
    margin-right: 10px;
  }

  &__item {
    font-size: $font-size-base - 1;
    color: $gray-27;
    display: flex;
    align-items: center;
    transition: color .3s ease;
    line-height: 2.54;

    @include respond-to(smallphone-and-down) {
      font-size: $font-size-small - 1;
      line-height: 12px;
    }

    span {
      padding: 0 5px;
    }

    &:last-child {
      color: $black-05;

      span {
        display: none;
      }
    }

    &:hover {
      color: $black-05;
    }
  }
}
