// ======================================================
// Components :: Browser Categories
// ======================================================

.browser-categories {
  padding-top: 84px;
  padding-bottom: 30px;

  @include respond-to(phone-and-down) {
    padding-top: 50px;
  }

  @include respond-to(smallphone-and-down) {
    padding-top: 30px;
  }

  .browser-categories-columns {
    margin-bottom: 35px;
    flex-wrap: wrap;

    &__item {
      width: calc((100% - 90px) / 4);

      @include respond-to(phone-and-down) {
        width: calc((100% - 40px) / 2);
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include respond-to(smallphone-and-down) {
        width: 100%;
        margin-bottom: 20px;
      }

      &-title {
        font-size: $font-size-base + 1;
        line-height: 1.8;
        color: $black-03;
        margin-bottom: 16px;
        font-weight: 500;
      }

      &-list {
        color: $gray-05;
      }

      &-link {
        color: $gray-05;
        font-size: $font-size-small;
        line-height: 2.25;

        &:hover {
          color: $primary;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &__browse {
    font-size: $font-size-larger;
    line-height: 1.88;
    color: $gray-09;
    margin-bottom: 41px;

    span {
      color: $gray-10;
    }
  }

  &__about {
    font-size: $font-size-small;
    line-height: 2.25;
    color: $gray-05;
  }
}
