// ======================================================
// Components :: Buttons
// ======================================================

.button {
  height: 48px;
  line-height: 30px;
  padding: 0 22px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid transparent;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-small;
  font-weight: $font-weight-base;

  i {
    margin-right: 10px;
  }

  &:hover {
    transition: all 0.2s ease-in-out;
  }

  &:focus {
    color: #7ed321;
  }

  &--primary {
    background: $primary;
    color: $white;

    &:hover {
      color: $primary;
      background: $white;
      border: 1px solid $primary;

      i {
        color: $primary;
      }
    }
  }

  &--transparent {
    background: transparent;
    color: $white;
    border: 1px solid $white;
  }

  &--dark {
    background: $black-08;
    color: $white;

    &:hover {
      color: $black-08;
      background: $white;
      border: 1px solid $black-08;
    }
  }

  &--large {
    height: 52px;
    font-size: $font-size-base + 1;
  }

  &--largest {
    height: 59px;
    font-size: $font-size-base + 1;
  }

  &--small {
    height: 36px;
    line-height: 28px;
  }

  &--smaller {
    height: 42px;
  }

  &--border-green {
    border: 1px solid $primary;
  }

  &--rounded {
    border-radius: 25px;
  }

  &--bordered {
    border: solid 1px $gray-08;

    &:hover {
      color: $white;
      background: $primary;
      border: 1px solid $primary;

      i {
        color: $white;
      }
    }
  }

  &--full {
    width: 100%;
  }
}
