// ======================================================
// Components :: Calendar
// ======================================================

.calendar-custom {
  background: #fff;

  .rbc-calendar {
    height: 800px;

    @include respond-to(tablet-and-down) {
      height: 700px;
    }

    @include respond-to(smallphone-and-down) {
      height: 600px;
    }
  }

  .rbc-month-header {
    display: none;
  }

  .rbc-row-segment {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

    @include respond-to(phone-and-down) {
      margin-top: 0;
    }
  }

  .rbc-month-view {
    border-right: none;
    border-left: none;
  }

  .rbc-day-bg,
  .rbc-month-row,
  .rbc-month-view {
    border-color: rgba(#979797, 0.15);
  }

  .rbc-ellipsis,
  .rbc-event-label,
  .rbc-row-segment .rbc-event-content,
  .rbc-show-more,
  .rbc-day-bg,
  .rbc-month-row,
  .rbc-month-view {
    overflow: visible;
  }

  .rbc-row-content {
    z-index: auto;
  }

  .rbc-date-cell {
    padding-top: 5px;
    padding-right: 10px;

    &.rbc-current {
      a {
        padding: 5px;
        border-radius: 50%;
        background: #7ed321;
        color: #fff;
      }
    }

    a {
      font-size: 12px;
      line-height: 1.75;
      color: #434343;
    }
  }

  .rbc-off-range {
    a {
      color: #a4a4a4;
    }
  }

  .rbc-off-range-bg {
    background: transparent;
  }

  .rbc-event {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: #fff;
    padding: 0;

    @include respond-to(phone-and-down) {
      padding: 5px 10px;
    }

    &:focus {
      outline: none;
    }
  }

  .header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;

    @include respond-to(phone-and-down) {
      flex-direction: column;
    }

    &__left {
      &-title {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.14;
        color: #252525;
        margin-bottom: 6px;
      }

      &-sub-title {
        font-size: 12px;
        line-height: 1.75;
        color: #a4a4a4;
      }
    }

    &__month {
      display: flex;
      align-items: center;

      @include respond-to(phone-and-down) {
        margin: 20px 0;
      }

      &-button {
        padding: 10px;
        background: transparent;
        border: none;
        color: #000;
      }

      &-label {
        font-size: 21px;
        font-weight: 500;
        line-height: 1.14;
        color: #252525;
        padding: 0 25px;
      }
    }

    &__right {
      &-sub-title {
        font-size: 12px;
        line-height: 1.75;
        color: #5c5c5c;
        margin-bottom: 7px;
      }

      &-title {
        font-size: 30px;
        font-weight: 500;
        line-height: 0.8;
        color: #212121;

        span {
          padding-left: 5px;
          color: #c3c3c3;
          font-size: 12px;
        }
      }
    }
  }

  &__annotate {
    padding: 60px 40px;

    @include respond-to(phone-and-down) {
      padding: 20px;
    }

    &-inner {
      display: flex;
      align-items: center;

      @include respond-to(phone-and-down) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &-item {
      padding-right: 25px;
      position: relative;

      @include respond-to(phone-and-down) {
        padding-right: 0;
        margin-bottom: 20px;
      }

      &:last-child {
        padding-right: 0;
      }

      &::before {
        position: absolute;
        content: '';
        bottom: 5px;
        left: 0;
        width: 13px;
        height: 13px;
        border-radius: 2px;
      }

      &--mettings {
        &::before {
          background: #f5a623;
        }
      }

      &--vacations {
        &::before {
          background: #31b3ff;
        }
      }

      &--schedules {
        &::before {
          background: #9013fe;
        }
      }

      &--active {
        &::before {
          background: #7ed321;
        }
      }

      &--complete {
        &::before {
          background: #8b572a;
        }
      }

      p {
        font-size: 13px;
        padding-left: 26px;
        line-height: 1.62;
        color: #5f5f5f;
      }
    }
  }

  .event-info {
    position: relative;

    &__title {
      @extend %truncate;
      padding: 9px 20px;

      @include respond-to(phone-and-down) {
        padding: 5px;
        font-size: 10px;
      }
    }

    .popup-custom {
      position: absolute;
      top: 60px;
      right: 10%;
      z-index: 2;
      background: #fff;
      width: 385px;
      border-radius: 3px;
      box-shadow: 0 2px 15px 6px rgba(0, 0, 0, 0.11);
      border: solid 1px #efefef;
      padding: 20px;
      color: #323232;
      white-space: initial;

      @include respond-to(phone-and-down) {
        right: -150px;
      }

      @include respond-to(smallphone-and-down) {
        right: -100px;
        width: 300px;
      }

      &__inner {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: -40px;
          right: 20%;
          border-top: 10px solid transparent;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #fff;

          @include respond-to(phone-and-down) {
            right: 50%;
          }
        }
      }

      &__header {
        padding-bottom: 15px;
        border-bottom: solid 1px rgba(#979797, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
          font-size: 14px;
          line-height: 1.5;
          color: #323232;
        }
      }

      &__content {
        padding: 15px 0;

        &-info {
          font-size: 13px;
          line-height: 1.85;
          color: #404040;

          i {
            color: #ffaf2c;
            margin-right: 5px;
          }
        }

        &-desc {
          font-size: 13px;
          line-height: 1.85;
          font-weight: 400;
          color: #b6b6b6;
          margin-top: 11px;
        }
      }

      &__user {
        display: flex;
        align-items: center;

        &-avatar {
          width: 31px;
          height: 31px;
          margin-right: 10px;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        &-title {
          font-size: 11px;
          line-height: 1.45;
          color: #737373;
        }

        &-name {
          font-size: 12px;
          color: #252525;
        }
      }
    }
  }

  .choose-task {
    position: relative;

    &__event-type {
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 3px;
      margin-right: 7px;

      &.metting {
        background: #ffaf2c;
      }

      &.vacation {
        background: #31b3ff;
      }

      &.schedules {
        background: #9013fe;
      }

      &.active {
        background: #7ed321;
      }

      &.complete {
        background: #8b572a;
      }
    }

    &__event-title {
      font-size: 12px;
      line-height: 1.62;
      color: #323232;
    }

    &__select {
      width: 145px;
      height: 32px;
      border: solid 1px #f4f4f4;
      background-color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        right: 8px;
        top: 12px;
        transform: rotate(-45deg);
        padding: 2.5px;
        box-shadow: inset 1px -1px 0 0 #000;
        z-index: 2;
      }
    }

    &__list {
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      padding: 10px;
      background: #fff;
      border: 1px solid #f4f4f4;
      border-top: none;
      display: none;

      &.open {
        display: block;
      }

      .choose-task {
        &__event-title {
          line-height: 2.75;
        }
      }
    }

    &__item {
      display: flex;
      align-items: center;
    }
  }
}
