// ======================================================
// Components :: Choose Language
// ======================================================

.choose-languages {
  position: relative;

  @include respond-to(large-tablet-and-down) {
    margin-right: 45px;
  }

  &__select {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-flag {
      width: 18px;
      height: 18px;
      min-width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 5px;

      > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &-nation {
      border: none;
      position: relative;
      appearance: none;
      padding: 0 15px 0 5px;
      background: url('#{$path-to-images}/icon-thin-down.svg') no-repeat right center;
      color: #3d3d3d;
    }
  }

  &__list {
    position: absolute;
    top: 30px;
    width: 100%;
    min-width: 150px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.15);
  }

  &__item {
    color: #3d3d3d;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: none;
    }

    &-flag {
      width: 18px;
      height: 18px;
      min-width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-right: 10px;

      > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
