// ======================================================
// Components :: Collapse
// ======================================================

.collapse-custom {
  &__list {
    margin-top: 40px;
  }

  &__item {
    border: 1px solid $gray-25;
    border-bottom: none;
    padding: 29px 36px 19px;
    background: $white;
    cursor: pointer;

    &.active {
      box-shadow: 0 2px 15px 3px rgba($black, 0.03);

      .icofont-thin-down {
        transform: rotate(-180deg);
      }
    }

    &:last-child {
      border: 1px solid $gray-25;
    }

    &-title {
      font-size: $font-size-large;
      line-height: 1.33;
      color: $black-01;
      margin-bottom: 14px;
      font-weight: $font-weight-medium;
      display: flex;
      justify-content: space-between;
    }

    &-sub-title {
      font-size: 15px;
      line-height: 1.87;
      color: #a4a4a4;
      padding-bottom: 15px;
    }

    &-content {
      font-size: $font-size-base + 1;
      line-height: 1.87;
      color: $gray-05;
      font-weight: $font-weight-light;
    }

    .icofont-thin-down {
      color: $primary;
      font-size: $font-size-large;
      font-weight: 700;
    }
  }
}
