// ======================================================
// Components :: Pagination
// ======================================================

.pagination {
  margin: 20px 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin: 0 10px;

    &.active {
      a {
        color: #7ed321;
        border-bottom: 2px solid #7ed321;
      }
    }

    &.disable {
      a {
        color: #c3c3c3;
      }
    }

    &:first-child {
      margin-right: 20px;

      i {
        padding-right: 10px;
      }
    }

    &:last-child {
      margin-left: 20px;

      i {
        padding-left: 10px;
      }
    }
  }

  &__link {
    font-size: 15px;
    line-height: 1.8;
    color: #222;
    padding: 0 5px;
  }
}
