// ======================================================
// Components :: Payment Info
// ======================================================

.payment-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    width: calc((100% - 12px) / 2);
    margin-bottom: 24px;
    position: relative;

    @include respond-to(phone-and-down) {
      width: 100%;
    }

    &-visa {
      display: block;
      background: url('#{$path-to-images}/icon-visa.svg') no-repeat;
      background-size: 30px 10px;
      width: 30px;
      height: 10px;
      position: absolute;
      bottom: 18px;
      right: 20px;
    }

    &-help {
      display: block;
      background: url('#{$path-to-images}/icon-help.svg') no-repeat;
      background-size: 15px 15px;
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: 18px;
      right: 15px;
      text-indent: -9999px;
    }

    &-title {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.62;
      color: #333;
      margin-bottom: 10px;

      span {
        color: #7ed321;
      }
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-child {
      width: calc((100% - 24px) / 3);

      @include respond-to(phone-and-down) {
        width: 100%;
      }

      &:nth-child(2) {
        @include respond-to(phone-and-down) {
          margin-bottom: 24px;
        }

        .payment-info {
          &__item-title {
            text-indent: -9999px;
          }
        }
      }
    }
  }
}
