// ======================================================
// Components :: Steps
// ======================================================

.steps-block {
  &__inner {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% / 4);
    position: relative;

    &.active {
      .steps-block {
        &__item-number {
          background: #7ed321;
          border: 1px solid #7ed321;
          color: #fff;
        }

        &__item-text {
          color: #515151;
        }
      }

      &::before {
        background: #7ed321;
      }

      &:nth-child(2) {
        &::before {
          background: #fff;
        }
      }

      &:nth-child(3) {
        &::before {
          right: 50%;
          left: auto;
          background: #7ed321;
        }
      }

      &:nth-child(4) {
        &::before {
          background: #7ed321;
        }
      }
    }

    &:first-child {
      margin-left: -64px;

      @include respond-to(phone-and-down) {
        margin-left: -30px;
      }
    }

    &:last-child {
      margin-right: -64px;

      @include respond-to(phone-and-down) {
        margin-right: -30px;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 23px;
      left: 50%;
      width: 195px;
      background: #fff;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      height: 4px;

      @include respond-to(phone-and-down) {
        width: 100%;
      }
    }

    &:last-child {
      &::before {
        right: 50%;
        left: auto;
        background: #fff;
      }
    }

    &-number {
      width: 47px;
      height: 47px;
      background: #fff;
      border-radius: 50%;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.62;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eeeeee;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }

    &-text {
      text-align: center;
      font-size: 11px;
      line-height: 1.91;
      margin-top: 12px;
      color: #c7c7c7;
    }
  }
}
