// ======================================================
// Components :: Ticket block
// ======================================================

.tickets-block {
  padding-bottom: 120px;

  @include respond-to(tablet-and-down) {
    padding-bottom: 50px;
  }

  @include respond-to(smallphone-and-down) {
    padding-bottom: 30px;
  }

  &__notify {
    border-radius: 3px;
    background: rgba(#84ce3f, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 10px;
    margin-bottom: 17px;

    p {
      font-size: 15px;
      line-height: 1.6;
      color: #585858;
    }
  }

  &__wrap {
    overflow: auto;
  }

  &__list {
    min-width: 768px;
  }

  .ticket-item {
    display: flex;
    align-items: center;
    border: solid 1px #f0f0f0;
    background-color: #fff;
    padding: 17px 15px 17px 27px;
    position: relative;

    @include respond-to(phone-and-down) {
      flex-wrap: wrap;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    &__inner {
      display: flex;
      align-items: center;
      flex: 1;
      width: 100%;
      overflow: hidden;
      margin-right: 10px;
    }

    &__checkbox {
      flex-basis: 13px;
      margin-top: -15px;
      max-width: 13px;

      input {
        top: 7px;
      }

      label {
        overflow: visible;
      }
    }

    &__user {
      display: flex;
      align-items: center;
      max-width: 30%;
    }

    &__avatar {
      flex-basis: 31px;
      min-width: 31px;
      border-radius: 50%;
      margin: 0 28px;

      img {
        width: 100%;
      }
    }

    &__title {
      @extend %truncate;
      font-size: 12px;
      font-weight: 500;
      line-height: 2;
      color: #252525;

      @include respond-to(phone-and-down) {
        margin-top: 10px;
        width: 100%;
      }

      &-dash {
        padding: 0 5px;
      }

      &-position {
        color: #737373;
      }
    }

    &__label {
      max-width: 200px;
      margin: 0 16px;

      &-inner {
        @extend %truncate;
        height: 30px;
        border-radius: 3px;
        background-color: #f5f5f5;
        font-size: 11px;
        line-height: 2.18;
        color: #252525;
        padding: 3px 10px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.closed {
          background: #7ed321;
          color: #fff;
        }

        &.unsolved {
          background: #ff0000;
          color: #fff;
        }
      }
    }

    &__desc {
      flex: 1;

      p {
        @extend %truncate;
        font-size: 11px;
        line-height: 2.18;
        color: #9a9a9a;
      }

      @include respond-to(phone-and-down) {
        margin-top: 10px;
        width: 100%;
      }
    }

    &__option {
      margin-left: auto;
      position: relative;

      &-icon {
        transform: rotate(90deg);
        cursor: pointer;
        color: #d8d8d8;
        display: block;
        font-size: 24px;
      }

      &-box {
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 2;
        height: 52px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
        border: solid 1px #efefef;
        background-color: #fff;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 2;
        color: #737373;
        min-width: 150px;
        cursor: pointer;
        display: flex;
      }
    }
  }
}
