// ======================================================
// Components :: Titles
// ======================================================

.title {
  &--primary {
    color: $black-01;
    line-height: 1.25;
    font-size: $font-size-extra-larger;

    @include respond-to(phone-and-down) {
      font-size: 24px;
    }
  }

  &--primary-underline {
    padding-bottom: 28px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 74px;
      height: 2px;
      background-color: $primary;
    }
  }

  &--sub {
    font-size: $font-size-small;
    line-height: 1.5;
    color: $gray-05;
  }

  &--secondary {
    font-size: $font-size-base + 1;
    line-height: 2.2;
    color: $gray-05;
    text-transform: uppercase;
  }

  &--third {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.14;
    color: #252525;
    margin-bottom: 6px;
  }

  &--light {
    color: #fff;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
