.footer {
  background-color: #1c1e20;
  /* z-index: -1 !important;
  bottom: 0;
  position: fixed;
  width: 100%; */
}
.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-logo p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #c9cacb;
  margin-bottom: 0;
  text-align: left;
}

.footer hr {
  background-color: #848484;
  margin: 2% 0%;
}
.footer-list {
  padding: 0;
  display: flex;
  flex-flow: column;
}
.footer-list li {
  list-style: none;
  padding: 5px 0px;
}
.footer-list h2 {
  text-transform: inherit;
}

.footer-list li a {
  color: rgb(201 202 203 / 80%);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: none !important;

  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.footer-list li a:hover {
  color: white;
}

.footer-bottom {
  margin: 1% 0 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-bottom div {
  display: inline-flex;
  align-items: center;
}
.footer-bottom h6 {
  color: #959595;
  margin: 0;
}
.footer-bottom h5 {
  color: #fff;
  margin: 0px 20px;
  font-size: 1.2rem;
}

@media (max-width: 992px) {
  .footer > * {
    text-align: center;
  }
  .footer-logo {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .footer-logo > div:first-child {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
  }
  .footer-logo p {
    width: auto;
    text-align: center;
    margin: 10px 0px;
  }
  .footer-bottom {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }
  .footer-bottom h6 {
    padding-top: 20px;
  }
}
