.signup-footer {
  background-image: linear-gradient(
      0deg,
      rgba(28, 30, 32, 81%),
      rgba(28, 30, 32, 81%)
    ),
    url("../../../assets//images//MaskGroup2.jpg");
}
.signup-footer h2 {
  text-align: center;
}
.signup-footer {
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
.signup-footer a {
  text-transform: capitalize;
  background-color: white;
  padding: 10px 40px;
  border-radius: 20px;
  margin-top: 40px;
  font-weight: 700;
}
.signup-footer a:hover {
  background-color: #ebebeb;
}
