body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; */
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fullBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  background-attachment: fixed;
  /* height: 100%; */
  height: auto;
}

@media only screen and (max-device-width: 1366px) {
  .fullBackground {
    background-attachment: scroll;
  }
}

.img_css {
  vertical-align: middle;
  border-style: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: All 0.3s ease-in-out;
  -webkit-transition: All 0.3s ease-in-out;
}

.font-r {
  font-family: "Roboto", sans-serif;
}
.font-cart {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.btn-a {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  cursor: pointer !important ;
}
.btn-a1 {
  padding: 15px 40px;
  border-radius: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  .btn-a1 {
    padding: 10px 30px;
  }
}
.btn-a:hover {
  text-decoration: none;
}
.btn-a:focus {
  outline: none !important;
}
.btn-bg1 {
  color: white;
  background-color: #2699fb;
  font-weight: 700;
}
.btn-bg1:hover {
  background-color: white;
  color: #2699fb;
  border-color: #259bf9;
}

.btn-bg2 {
  background-color: #fff;
  color: #2699fb;
  font-weight: 700;
}
.btn-bg2:hover {
  background-color: #2699fb;
  color: white;
}

.btn-a2 {
  background-color: #dceef6;
  /* background-color: #e8f7fd; */
  /* padding: 5px 40px; */
  color: #259bf9;
  border: 2px solid transparent;
  font-weight: 700;
  border-radius: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-bg3:hover {
  color: #259bf9;
  border-color: #259bf9;
}
.btn-a3 {
  background-color: transparent;
  color: white;
  border-color: white;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 14px;
}
.btn-bg4:hover {
  background-color: white;
  color: black;
}

.dt {
  font-weight: 700 !important;
}

.font-600 {
  font-weight: 600 !important ;
}
.font-500 {
  font-weight: 500 !important;
}

.btn-light {
  background-color: #fff;
  color: #606a74 !important;
  font-weight: 700;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.btn-light:hover {
  background-color: #f1f1f1;
}

.btn-submit {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  background-color: #2699fb !important;
  padding: 10px 40px;
  border-radius: 20px !important;
  margin-top: 40px;
  color: white !important;
}
.btn-submit:hover {
  background-color: #2698fbda !important;
}

.form-name {
  font-size: 1.5rem;
  color: #259bf9;
  font-weight: 600;
}

.text-col1 {
  color: #606a74;
}
.text-col2 {
  color: #9a9ea1;
}
.text-col3 {
  color: #2699fb;
}
.font-s-small {
  font-size: 1.15rem;
  line-height: 1.35rem;
}
.font-s-medium {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.font-s-large {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.flag-select__btn:focus {
  outline: none !important;
}
.flag-select__option--placeholder {
  display: inline-flex !important;
}
.flag-select__options {
  bottom: 45px !important;
  right: 2px !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
.flag-select__option__icon {
  width: 2em !important;
  height: 1.5em !important;
  top: 0 !important;
}
.flag-select__btn {
  color: white !important;
}
.flag-select__btn:after {
  border-bottom: 5px solid #fff !important;
  border-top: 0 !important;
}
