.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 19px !important;
  font-family: "Source Sans Pro", sans-serif !important;
  text-transform: capitalize;
  text-decoration: none !important;
  transition: all 0.35s ease-in;
  line-height: 20px !important;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.button:after {
  display: block;
  content: "";
  border-bottom: 2px solid #006fff;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  margin-left: 1px;
  margin-right: 1px;
}

.a_black {
  color: #000;
}
.a_white {
  color: white !important;
}
.button:hover:after,
.button.active:after,
.a_black:hover:after,
.a_black.active:after {
  transform: scaleX(1);
}
.button:hover,
.button:focus,
.button.active {
  color: white;
  outline: none;
}
.a_black:hover,
.button:focus,
.a_black.active {
  color: black;
  outline: none;
}

.navigation_link {
  display: flex;
  justify-content: flex-start;
  width: auto;
  align-items: center;
  list-style: none;
}

.icon_dropdown {
  pointer-events: none !important;
}
.icon_dropdown svg {
  width: 25px;
  height: 25px;
}

.arrow [x-placement*="bottom"] {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid white;
  margin-top: -0.9em;
  position: absolute;
  font-size: 7px;
  width: 3em;
  height: 3em;
}
.arrow:before {
  content: "";
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px;
  margin-left: 80px;
  pointer-events: none !important;
}
.arrow_blue::before {
  border-color: transparent transparent #006fff transparent;
}
.arrow_white::before {
  border-color: transparent transparent #fff transparent;
}
.popper_item_icon {
  padding: 3px;
  margin: 3px 10px;
  border: 1px solid #707070;
  border-radius: 50%;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.popper_item_icon div {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.services_popper_container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.services_popper_list {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: 0;
  list-style: none;
  align-items: center;
  padding-left: 0;
}
.services_popper_list li {
  display: inline-flex;
  align-items: center;
  list-style: none;
  padding: 15px 5px;
  width: 300px;
}

.services_popper_list li div a {
  display: inline-flex;
  color: #000;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  text-decoration: none !important;

  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.services_popper_list li:hover .popper_item_icon {
  border-color: #2699fb;
  border-style: dashed;
}
.services_popper_list li:hover div a {
  color: #2699fb;
}
